.alert {
  border: 1px solid $gray;
  border-radius: 3px;
  padding: 24px;
  text-align: center;
  @include font($font-size-sm, 15px);
  @include margin-last(50px);

  &__content {
    max-width: 395px;
    margin: 0 auto;
  }

  &_error {
    color: $brand-primary;
    border-color: $brand-primary;
  }

  &_success {
    color: $green;
    border-color: $green;
  }
}