.article {
  > h1 {
    margin-bottom: 28px;
  }
  > h2 {
    &:not(:first-child) {
      margin-top: 63px;
    }
  }
  > h3 {
    &:not(:first-child) {
      margin-top: 53px;
    }
  }
  ul:not(.files__list) {
    @include list-unstyled;
    > li {
      position: relative;
      padding-left: 32px;
      margin-bottom: 1.4375em;

      &:before {
        position: absolute;
        left: 0;
        content: '•';
      }
    }
  }
  ol {
    @include list-unstyled;
    counter-reset: ol-counter;
    > li {
      position: relative;
      padding-left: 40px;
      margin-bottom: 1.75em;

      &:before {
        content: "0"counter(ol-counter);
        counter-increment: ol-counter;
        @include size(25px);
        @include rounded;
        background-color: $black;
        @include font(16px, 24px, 900);
        color: $white;
        position: absolute;
        top: 3px;
        left: 0;
      }
    }
  }
  p,
  li {
    a {
      text-decoration: underline;
    }
  }
  b,
  strong {
    font-weight: 900;
  }
  .img {
    &-left,
    &-right {
      display: block;
      margin-top: 30px;
      margin-bottom: 40px;
    }
  }

  @include media-breakpoint-up(md) {
    .img {
      &-left,
      &-right {
        max-width: 48.42%;
      }
      &-left {
        float: left;
        margin-right: 30px;
      }
      &-right {
        float: right;
        margin-left: 30px;
      }
    }
  }

  @include media-breakpoint-up(lg) {
    .img {
      &-left,
      &-right {
        max-width: 460px;
      }
    }
  }
}
