.back {
  margin-top: -57px;
  margin-bottom: 37px;

  &__link {
    color: $brand-primary;
    @include em-line-height($font-size-base, $line-height-md-2);
    text-decoration: none;

    &-icon {
      font-size: 12px;
      margin-right: 13px;
    }
  }
}