.badge {
  border: $btn-border-width solid $gray;
  border-radius: $btn-border-radius;
  height: 30px;
  white-space: nowrap;
  display: inline-block;
  padding: 0 20px;
  @include font($font-size-md, $line-height-md, 700);
  text-align: center;
  color: $gray;

  &_on-review {
    color: $yellow;
    border-color: $yellow;
  }

  &_declined {
    color: $brand-primary;
    border-color: $brand-primary;
  }

  &_sent {
    color: $green;
    border-color: $green;
  }
}