//
// Base styles
//

.button {
  position:relative;
  display: inline-block;
  cursor: pointer;
  user-select: none;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  border: $btn-border-width solid transparent;
  border-radius: $btn-border-radius;
  outline: 0;
  height: $btn-height;

  @include button-size($btn-padding-y, $btn-padding-x, $btn-font-size, $btn-line-height);
  @include transition(all 0.3s ease-in-out);
  @include hover-focus {
    text-decoration: none;
    outline: 0;
  }

  &,
  &:active,
  &.active {
    &:focus,
    &.focus {
      @include tab-focus();
      outline: 0;
    }
  }
  &.focus {
    text-decoration: none;
  }

  &:active,
  &.active {
    outline: 0;
    background-image: none;
  }

  &.disabled,
  &:disabled {
    cursor: $cursor-disabled;
    opacity: 0.65;
  }

  &__icon {
    font-size: 20px;
    margin-right: 4px;
    vertical-align: middle;
    display: inline-block;
    margin-bottom: -2px;
    position: relative;
    top: -1px;
  }
}

// Future-proof disabling of clicks on `<a>` elements
a.button.disabled,
fieldset[disabled] a.button {
  pointer-events: none;
}

//
// Alternate buttons
//
.button_white {
  @include button-variant($base-color, $white, $white);
}

.button_outline_white {
  @include button-outline-variant($white, $brand-primary, $white);
}

.button_primary {
  @include button-variant($btn-primary-color, $btn-primary-bg, $btn-primary-border);
}

.button_outline_primary {
  @include button-outline-variant($btn-primary-bg, $white, $btn-primary-border);
}

.button_default {
  @include button-variant($btn-default-color, $btn-default-bg, $btn-default-border);
}

.button_outline_default {
  @include button-outline-variant($btn-default-bg, $white, $btn-default-border);
}

.button_md {
  padding: $btn-md-padding-y $btn-md-padding-x;
  height: $btn-md-height;
  font-weight: 700;

  b {
    font-weight: 900;
  }
}

.button_sm {
  padding: $btn-sm-padding-y $btn-sm-padding-x;
  height: $btn-sm-height;
}

//
// Link buttons
//

// Make a button look and behave like a link
.button_link {
  padding-left:0;
  padding-right:0;

  @include hover {
    border-color: transparent;
  }
  @include hover-focus {
    background-color: transparent;
  }

  &,
  &:active,
  &.active,
  &:disabled {
    background-color: transparent;
  }
  &,
  &:focus,
  &:active {
    border-color: transparent;
  }
  &:disabled {
    @include hover-focus {
      text-decoration: none;
      color: $btn-link-disabled-color;
    }
  }
}

//
// Block button
//

.button_block {
  display: block;
  width: 100%;
  min-width:0;
  margin:0 auto;
}

// Vertically space out multiple block buttons
.button_block + .button_block {
  margin-top: 5px;
}

// Specificity overrides
input[type="submit"],
input[type="reset"],
input[type="button"] {
  &.button_block {
    width: 100%;
  }
}
