.contacts {
  margin-top: -33px;

  &__description {
    margin-bottom: 44px;
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__section {
    @include margin-last(40px);
    @include font($font-size-md, $line-height-md);

    &-title {
      font-weight: 400;
      margin-bottom: 17px;
    }
  }

  &__list {
    @include list-unstyled;

    li {
      @include margin-last(18px);
    }
  }

  &__map {
    height: 280px;
    margin-top: 40px;
  }

  @include media-breakpoint-up(md) {
    &__map {
      margin-top: 0;
    }
  }
}