.dropdown {
  position: relative;

  &__toggle {
    display: block;
    text-decoration: none;
    white-space: nowrap;
    @include font($font-size-md, 50px, 700);
    color: $brand-primary;
    height: 50px;

    &:after {
      display: inline-block;
      vertical-align: middle;
      font-size: 7px;
      margin-left: 7px;
    }

    @include hover-focus {
      color: $brand-primary;
    }
  }

  &__list {
    display: none;
    min-width: 220px;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: $white;
    border: 1px solid rgba($gray, 0.5);
    box-shadow: 0 5px 4px rgba($gray, 0.15);
    z-index: 10;
    @include list-unstyled;
    padding-top: 5px;
    padding-bottom: 10px;
  }

  &__link {
    display: block;
    color: inherit;
    text-decoration: none;
    padding: 5px 15px;

    &.active {
      color: $brand-primary;
    }

    @include hover-focus {
      color: inherit;
      background-color: rgba($gray, .1);
    }
  }
}