.files {
  &__list {
    @include list-unstyled;
  }

  &__item {
    @include margin-last(24px);
  }

  &__link {
    display: flex;
    align-items: center;
    color: $base-color;
    text-decoration: none !important;
    position: relative;

    @include hover-focus {
      color: $base-color;

      .files__icon {
        &_default {
          opacity: 0;
          visibility: hidden;
        }

        &_hover {
          opacity: 1;
          visibility: visible;
        }
      }
    }
  }

  &__icon {
    margin-right: 14px;
    color: $brand-primary;
    font-size: 40px;

    &_hover {
      position: absolute;
      left: 0;
      opacity: 0;
      visibility: hidden;
      transition: .2s;
    }
  }

  &__name {
    color: $brand-primary;
    font-weight: 700;
  }

  &__info {
    text-transform: uppercase;
  }
}
