.filter {
  margin-bottom: 25px;

  &__content {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: $white;
  }

  &__container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    transition: .2s;

    @include media-breakpoint-down(xs) {
      padding-left: 0;
      padding-right: 0;
    }
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-left: -15px;
    margin-right: -15px;
    width: 100%;
  }

  &__item {
    margin-left: 15px;
    margin-right: 15px;
  }

  &__button {
    font-weight: 700;
    padding-left: 20px;
    padding-right: 20px;
    margin: 10px;
  }

  &__top {
    @include size(40px);
    @include rounded;
    padding: 0;
    opacity: 0;
    visibility: hidden;
    transition: .2s;
    margin-left: 10px;
    transform: translateX(150%);
    margin-right: -50px;

    &-icon {
      font-size: $font-size-base;
      line-height: 36px;
      text-align: center;
    }
  }

  &.fixed {
    .dropdown {
      &__toggle {
        @include font($font-size-base, 40px);
        height: 40px;
      }
    }
  }

  &.fixed & {
    &__content {
      padding-top: 15px;
      padding-bottom: 15px;
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      box-shadow: 0 5px 4px rgba($black, 0.15);
      z-index: 50;
    }

    &__button {
      font-size: $font-size-base;
      height: 40px;
      padding-top: 5px;
      padding-bottom: 5px;
    }

    &__top {
      opacity: 1;
      visibility: visible;
      transform: translateX(0);
      margin-right: 0;
    }
  }

  @include media-breakpoint-up(sm) {
    &__container {
      justify-content: space-between;
    }

    &__list {
      justify-content: flex-start;
      width: auto;
    }

    &__button {
      margin: 0;
    }

    &__top {
      transform: none;
      margin-right: 0;
    }

    &.fixed & {
      &__container {
        position: relative;
        padding-right: 70px;
      }
    }

    &__top {
      position: absolute;
      top: 50%;
      right: 15px;
      margin-top: -20px;
      transform: none;
    }
  }

  @include media-breakpoint-up(md) {
    &__button {
      width: 264px;
    }
  }
}