@font-face {
    font-family: 'Lato';
    src: local('Lato Regular'), local('Lato-Regular'),
         url('../fonts/Lato-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: local('Lato Italic'), local('Lato-Italic'),
         url('../fonts/Lato-Italic.woff') format('woff');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Lato';
    src: local('Lato Bold'), local('Lato-Bold'),
         url('../fonts/Lato-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: local('Lato Black'), local('Lato-Black'),
         url('../fonts/Lato-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}