.footer {
  background-color: $black;
  position: relative;
  color: $white;
  z-index: 1;
  text-align: center;

  &:before {
    position:absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url(../i/footer-bg.jpg) 50% no-repeat;
    background-size: cover;
    content: '';
    opacity: 0.4;
    z-index: -2;
  }

  &:after {
    position:absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url(../i/footer-bg-2.png) 0 0 repeat;
    content: '';
    z-index: -1;
  }

  &__col-last {
    margin-top: 20px;
  }

  &__col-social {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }

  &__top {
    padding-top: 61px;
    padding-bottom: 50px;

    &-img {
      display: none;
    }
  }

  &__title {
    @include font($font-size-lg, $line-height-lg);
  }

  &__ask-button {
    min-width: 220px;
  }

  &__bottom {
    border-top: 1px solid $white;
    padding-top: 35px;
    padding-bottom: 35px;
    overflow: hidden;
  }

  &__copy {
    @include font($font-size-md, $line-height-md);
  }

  &__button {
    margin: 20px 38px;
  }

  &__pixel-plus {
    display: flex;
    align-items: center;
    width: 200px;
    text-align: left;
    margin: 0 auto;

    &-img {
      @include size(27px, 30px);
      margin-right: 10px;
    }

    &-text {
      @include font($font-size-sm, $line-height-sm);
    }

    a {
      color: inherit;

      @include hover-focus {
        border-bottom: 1px solid;
      }
    }
  }

  @include media-breakpoint-up(sm) {
    &__col-last {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    &__col-social {
      margin-top: 20px;
    }
  }

  @include media-breakpoint-up(md) {
    &__top {
      text-align: left;
    }
  }

  @include media-breakpoint-up(lg) {
    text-align: left;

    &__col-last {
      justify-content: flex-end;
      margin-top: 0;
    }

    &__col-social {
      margin-top: 0;
    }

    &__top {
      position: relative;

      &-img {
        display: block;
        position: absolute;
        right: 175px;
        bottom: 0;
        z-index: 0;
      }

      .col-xs-12 {
        z-index: 1;
      }
    }

    &__button {
      margin-top: 0;
      margin-bottom: 0;
    }

    &__pixel-plus {
      margin-left: 0;
      margin-right: 0;
    }
  }
}