.form {
  &__control {
    position: relative;
    display: block;
    width: 100%;
    height: $input-height;
    padding: $input-padding-y $input-padding-x ($input-padding-y + 3);
    color: $input-color;
    border: $input-border-width solid $input-border-color;
    border-radius: $input-border-radius;
    background: none;
    background-clip: padding-box;

    @include font(16px, $input-line-height, 400, $font-family-base);
    @include transition(color ease-in-out 0.15s);
    // Customize the `:focus` state to imitate native WebKit styles.

    // Unstyle the caret on `<select>`s in IE10+.
    &::-ms-expand {
      border: 0;
      background-color: transparent;
    }

    // Placeholder
    &::placeholder {
      opacity: 1;
      color: $input-color-placeholder;
    }

    // Disabled and read-only inputs
    //
    // HTML5 says that controls under a fieldset > legend:first-child won't be
    // disabled if the fieldset is disabled. Due to implementation difficulty, we
    // don't honor that edge case; we style them as disabled anyway.
    &:disabled,
    &[readonly] {
      opacity: 1;
      background-color: $input-bg-disabled;
      color: $input-color-placeholder;
    }

    &:disabled {
      cursor: $cursor-disabled;
    }

    &:focus,
    &:active {
      outline: 0;
    }

    &_sm {
      width: 120px;
    }
  }

  &__control.select {
    &:not([size]):not([multiple]) {
      height: calc(#{$input-height} - #{$input-border-width});
    }

    &:focus::-ms-value {
      // Suppress the nested default white text on blue background highlight given to
      // the selected option text when the (still closed) <select> receives focus
      // in IE and (under certain conditions) Edge, as it looks bad and cannot be made to
      // match the appearance of the native widget.
      color: $input-color;
    }
  }

  // Make file inputs better match text inputs by forcing them to new lines.
  &__control-file,
  &__control-range {
    display: block;
  }

  &__select {
    padding-right: 36px;

    select {
      width: 100%;
      margin: 0;
      outline: none;
      cursor: inherit;
      background: none;
      border: 0 none;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      padding: 0 0 0 10px;
      -webkit-appearance: none;
         -moz-appearance: none;
              appearance: none;
    }
    &:after {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      width: 36px;
      line-height: 38px;
      color: $brand-primary;
      font-size: 7px;
      text-align: center;
    }
  }

  // Form groups
  //
  // Designed to help with the organization and spacing of vertical forms. For
  // horizontal forms, use the predefined grid classes.

  &__section {
    @include margin-last(80px);
  }

  &__col {
    margin-top: 20px;

    &:first-child {
      margin-top: 0;
    }

    @include media-breakpoint-up(lg) {
      margin-top: 0;
    }
  }

  &__group {
    position: relative;
    @include margin-last($form-group-margin-bottom);

    .form_compact & {
      @include margin-last(20px);
    }

    &_inline {
      display: flex;
      flex-wrap: wrap;
      align-items: center;

      .form__controls {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        margin-top: 7px;
        margin-bottom: 8px;
      }

      .form__label {
        margin-bottom: 0;
        margin-right: 18px;
      }

      .form__control {
        margin-right: 30px;
      }
    }

    &_requered {
      .form__input {
        position: relative;

        &:after {
          @include font($font-size-md, 50px);
          color: $brand-primary;
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          width: 38px;
          content: '*';
          text-align: center;
        }

        .form__control {
          padding-right: 38px;
        }
      }
    }

    &_option {
      margin-top: 30px;
    }
  }

  &__submit {
    margin: 70px -15px -10px;

    .form_compact & {
      margin-top: 20px;
    }

    .button {
      margin: 10px 15px;
    }

    input.button {
      min-width: 264px;
    }

    @include media-breakpoint-up(lg) {
      display: flex;
      justify-content: space-between;

      .button {
        flex: 1;
      }
    }
  }

  &__label {
    display: block;
    @include em-line-height($font-size-base, $line-height-md-3);
    margin-bottom: 15px;
  }
}

textarea.form__control {
  height: auto;
  padding-top: $input-padding-y - 1px;
  min-height: 100px;
}

.custom-control {
  position: relative;
  display: inline-block;
  text-align:left;
  padding-left: 40px;
  cursor: pointer;
  transition: color 0.25s ease-in-out;
  color:inherit;

  a {
    white-space:nowrap;
  }

  &__input {
    position: absolute;
    z-index: -1; // Put the input behind the label so it doesn't overlay text
    opacity: 0;
  }

  &__indicator {
    position: absolute;
    top: 2px;
    left: 5px;
    @include size(20px);
    user-select: none;
    pointer-events: none;
    color: inherit;
    background-color: $white;
    border: solid 2px $blue;

    &:before {
      display: none;
    }
  }

  &__input:checked ~ &__indicator,
  &__input:active ~ &__indicator {
    color: $blue;

    &:before {
      display: block;
      position:absolute;
      top:50%;
      left:50%;
      transform:translate(-50%,-50%);
      font-size: 9px;
    }
  }
}

// Custom indicator
//
// Generates a shadow element to create our makeshift checkbox/radio background.

// Checkboxes
//
// Tweak just a few things for checkboxes.

.custom-checkbox {
}

// Radios
//
// Tweak just a few things for radios.

.custom-radio {
  .custom-control__indicator {
    @include rounded;
  }

  .custom-control__input:checked ~ .custom-control__indicator,
  .custom-control__input:active ~ .custom-control__indicator {
    &:before {
      @include rounded;
      width:10px;
      height:10px;
      background-color: $brand-primary;
      content: '';
    }
  }
}
