// Container widths
//
// Set the container width, and override it for fixed navbars in media queries.

.container {
  @include make-container();
  @include make-container-max-widths();
  &:empty {
      display:none;
  }
  &_sm {
    max-width: 980px;
  }
}

// Row
//
// Rows contain and clear the floats of your columns.

.row {
  @include make-row();
  &-h-center {
    justify-content: center;
  }
  &-h-justify {
    justify-content: space-between;
  }
}


// Columns
//
// Common styles for small and large grid columns
.col {
    position: relative;
    min-height: 1px;
    padding-left: $grid-gutter-width/2;
    padding-right: $grid-gutter-width/2;
}

@include make-grid-columns();


// Flex variation
//
// Custom styles for additional flex alignment options.


  // Flex column reordering

  @each $breakpoint in map-keys($grid-breakpoints) {
    //@include media-breakpoint-up($breakpoint) {
      .col-#{$breakpoint}-first { order: -1; }
      .col-#{$breakpoint}-last { order: 1; }
    //}
  }

  // Alignment for every column in row

  @each $breakpoint in map-keys($grid-breakpoints) {
    //@include media-breakpoint-up($breakpoint) {
      .row-#{$breakpoint}-top { align-items: flex-start; }
      .row-#{$breakpoint}-center { align-items: center; }
      .row-#{$breakpoint}-bottom { align-items: flex-end; }
   // }
  }

  // Alignment per column

  @each $breakpoint in map-keys($grid-breakpoints) {
   // @include media-breakpoint-up($breakpoint) {
      .col-#{$breakpoint}-top { align-self: flex-start; }
      .col-#{$breakpoint}-center { align-self: center; }
      .col-#{$breakpoint}-bottom { align-self: flex-end; }
    //}
  }
