.guide {
  &__list {
    @include list-unstyled;
    margin-left: -15px;
    margin-right: -15px;
  }

  &__item {
    @include margin-last(30px);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

    &:before {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      content: '';
      background-color: rgba($black3, .5);
      z-index: 1;
    }

    &-link {
      display: flex;
      align-items: center;
      justify-content: center;
      text-decoration: none;
      color: $white;
      position: relative;
      padding: 25px 15px 35px;
      min-height: 260px;
      z-index: 2;

      @include hover-focus {
        color: $white;
      }
    }

    &-content {
      max-width: 700px;
      width: 100%;
    }

    &-title {
      @include font($font-size-lg, $line-height-lg, 700);
      margin-bottom: 13px;
    }

    &-description {
      margin-bottom: 0;
    }
  }

  @include media-breakpoint-up(md) {
    margin-left: 0;
    margin-right: 0;

    &__item {
      &-title {
        @include font($font-size-h1, 48px);
      }
    }
  }
}