.header {
  position: relative;
  background-color: $white;
  box-shadow: 0 5px 4px rgba($black, 0.15);
  z-index: 10;
  margin-bottom: 40px;

  &__content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    position: relative;
    height: 60px;
    padding-right: 50px;
    z-index: 3;
  }

  &__nav-toggle {
    position: absolute;
    right: 0;
    top: 10px;
  }

  &__logo {
    transform: scale(0.8);
    margin-left: -14px;
    transition: .2s;

    &-img {
      display: block;
    }
  }

  &__personal {
    @include font($font-size-sm, $line-height-sm);

    &-link {
      color: $brand-primary;
      text-decoration: none;
    }

    &-icon {
      display: block;
      border: 1px solid $gray;
      border-radius: 3px;
      @include size(40px);
      font-size: 18px;
      line-height: 38px;
      text-align: center;
      color: $base-color;
    }

    &-text {
      display: none;
    }
  }

  @include media-breakpoint-up(lg) {
    margin-bottom: 100px;

    &__content {
      height: 100px;
      padding-right: 0;
    }

    &__logo {
      transform: scale(1);
      margin-left: 0;
    }

    &__personal {
      &-icon {
        display: none;
      }

      &-text {
        display: block;
      }
    }
  }
}
