.hero {
  background-color: rgba($gray3, .5);
  margin-top: -50px;
  margin-bottom: 25px;
  padding-top: 36px;
  text-align: center;

  &__container {
    position: relative;
  }

  &__content {
    padding-bottom: 40px;
  }

  &__text {
    @include font($font-size-lg, $line-height-lg);

    a {
      color: $brand-primary;

      @include hover-focus {
        color: $brand-primary;
      }
    }
  }

  &__action {
    margin-left: -10px;
    margin-right: -20px;
    padding-top: 14px;
    justify-content: center;
  }

  &__button {
    min-width: 220px;
    margin: 10px;
  }

  &__link {
    @include font($font-size-md, $line-height-md);
    white-space: nowrap;
    color: $brand-primary;
    margin: 10px 20px;

    @include hover-focus {
      color: $brand-primary;
    }

    &-icon {
      @include size(50px);
      @include rounded;
      border: 2px solid $brand-primary;
      background-color: rgba($white, .5);
      font-size: 16px;
      line-height: 46px;
      text-align: center;
      padding-left: 6px;
      display: inline-block;
      vertical-align: middle;
      margin-right: 11px;
    }
  }

  &__media {
    max-width: 382px;
    margin-left: auto;
    margin-right: auto;

    &-img {
      display: block;
    }
  }

  &__toggle {
    @include size(50px);
    @include rounded;
    background-color: rgba($black2, .5);
    font-size: 16px;
    line-height: 50px;
    text-align: center;
    color: $white;
    position: absolute;
    top: 0;
    right: 8px;

    @include hover-focus {
      color: $white;
      background-color: rgba($black2, .8);
    }
  }

  &.collapsed {
    display: none;
  }

  @include media-breakpoint-up(md) {
    display: flex;
    align-items: center;
    text-align: left;

    &__container {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    &__content {
      max-width: 63.7%;
      flex: 0 0 63.7%;
      padding-bottom: 60px;
    }

    &__text {
      @include font(42px, 55px);
      margin-bottom: 62px;
    }

    &__action {
      justify-content: flex-start;
    }

    &__media {
      flex: 0 0 382px;
      align-self: flex-end;
      display: flex;
      align-items: flex-end;
      margin-right: 0;

      &-img {
        max-width: 362px;
      }
    }
  }

  @include media-breakpoint-up(lg) {
    margin-top: -110px;

    &.collapsed {
      display: block;
    }

    &.collapsed & {
      &__content {
        padding-bottom: 40px;
        max-width: 100%;
        flex: 1;
      }

      &__text {
        display: none;
      }

      &__media {
        display: none;
      }

      &__toggle {
        background-color: $black2;
        font-size: 12px;
        top: 50%;
        margin-top: -38px;

        &:before {
          content: "\e900";
        }
      }
    }
  }
}