@font-face {
  font-family: 'icons';
  src:  url('../fonts/icons.ttf?xw22aa') format('truetype'),
        url('../fonts/icons.woff?xw22aa') format('woff'),
        url('../fonts/icons.svg?xw22aa#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"],
.nav__link-icon:before,
.custom-control__indicator:before,
.dropdown__toggle:after,
.form__select:after {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  color: inherit;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-caret-down:before,
.nav__link-icon:before,
.dropdown__toggle:after,
.form__select:after {
  content: "\e900";
}
.icon-caret-up:before,
.nav__link:hover .nav__link-icon:before,
.nav__link:focus .nav__link-icon:before,
.nav__link.active .nav__link-icon:before {
  content: "\e914";
}
.icon-caret-left:before {
  content: "\e901";
}
.icon-check:before,
.custom-control__indicator:before {
  content: "\e902";
}
.icon-close:before {
  content: "\e903";
}
.icon-play:before {
  content: "\e909";
}
.icon-user:before {
  content: "\e90d";
}
.icon-arrow-top:before {
  content: "\e90e";
}
.icon-pdf:before {
  content: "\e908";
}
.icon-pdf-on .path1:before {
  content: "\e907";
  color: rgb(210, 59, 64);
}
.icon-pdf-on .path2:before {
  content: "\e90f";
  margin-left: -0.75em;
  color: rgb(255, 255, 255);
}
.icon-doc:before {
  content: "\e904";
}
.icon-doc-on .path1:before {
  content: "\e910";
  color: rgb(210, 59, 64);
}
.icon-doc-on .path2:before {
  content: "\e911";
  margin-left: -0.75em;
  color: rgb(255, 255, 255);
}
.icon-xls:before {
  content: "\e90b";
}
.icon-xls-on .path1:before {
  content: "\e912";
  color: rgb(210, 59, 64);
}
.icon-xls-on .path2:before {
  content: "\e913";
  margin-left: -0.75em;
  color: rgb(255, 255, 255);
}
.icon-facebook:before {
  content: "\e905";
}
.icon-instagram:before {
  content: "\e906";
}
.icon-vkontakte:before {
  content: "\e90a";
}
.icon-youtube:before {
  content: "\e90c";
}