.info {
  &__content {
    display: none;
    background: $white;
    border: 2px solid rgba($blue, 0.2);
    box-shadow: 0px 0px 30px rgba($gray, 0.5);
    border-radius: 25px;
    padding: 0 30px 27px;
  }

  &__header {
    border-bottom: 1px solid $blue;
    color: $blue;
    text-align: center;
    @include font($font-size-md, $line-height-md, 700);
    padding-top: 10px;
    padding-bottom: 13px;
    margin-left: -10px;
    margin-right: -10px;
    margin-bottom: 24px;
    cursor: pointer;

    b {
      font-weight: 900;
    }
  }

  &__list {
    @include list-unstyled;
    margin-top: -12px;

    &-item {
      @include margin-last(12px);
    }

    a {
      text-decoration: underline;
    }
  }

  &.open & {
    &__content {
      display: block;
    }
  }

  @include media-breakpoint-up(lg) {
    position: relative;

    &__content {
      display: block;
      position: absolute;
      top: 0;
      left: 7px;
      right: 7px;
      opacity: 0;
      visibility: hidden;
      height: 0;
      z-index: -1;
      transition: .2s ease-in-out;
    }

    &.open & {
      &__toggle {
        opacity: 0;
        visibility: hidden;
      }

      &__content {
        opacity: 1;
        visibility: visible;
        height: auto;
        z-index: 10;
      }
    }
  }
}