.modal {
  background-color: $white;
  width: 100%;
  max-width: 500px;
  margin: auto;
  text-align: center;
  position: relative;

  &__content {
    width: 100%;
    max-width: 320px;
    margin: auto;
    padding: 134px 10px 96px;
  }

  &__title {
    @include font($font-size-lg, $line-height-lg);
    margin-bottom: 37px;
  }

  &__notes {
    @include font($font-size-sm, 16px);
    padding-left: 60px;
    text-align: left;

    a {
      @include link-base;
      text-decoration: underline;
    }

    .custom-control {
      margin-left: -25px;
    }
  }

  .mfp-close {
    background: none !important;
    color: $brand-primary;
    font-size: 20px;
    text-indent: 0;
    @include size(70px, 60px);
  }

  &_lg {
    max-width: 750px;
  }

  &_lg & {
    &__content {
      max-width: 476px;
      padding-top: 99px;
      padding-bottom: 124px;
    }
  }
}
