.nav-toggle {
  border: 1px solid $gray;
  border-radius: 3px;
  @include size(40px);
  padding: 0;
  background-color: transparent;
  outline: none;
  user-select: none;
  appearance: none;
  z-index: 13;
  font-size: 32px;

  @include hover-focus-active {
    outline: 0;
  }

  span {
    display: block;
  }

  &__bottom,
  &__middle,
  &__top {
    background: $base-color;
    will-change: transform;
    margin-right: auto;
    margin-left: auto;
  }

  &__top {
    top: -.14em;
  }

  &__middle,
  &__top {
    display: block;
    position: relative;
    width: .7em;
    height: .08em;
    border: none;
    border-radius: .08em;
    transition: transform .5s, top .2s;
  }

  &__middle {
    top: 0;
  }

  &__bottom {
    display: block;
    position: relative;
    width: .7em;
    height: .08em;
    top: .14em;
    border: none;
    border-radius: .08em;
    transition: transform .5s;
  }

  .nav-active & {
    &__top {
      top: .09em;
      transform: rotate(-45deg);
    }

    &__middle {
      top: .02em;
      transform: rotate(45deg);
    }

    &__bottom {
      opacity: 0;
      top: 0;
      transform: rotate(180deg);
    }
  }

  @include media-breakpoint-up(lg) {
    display: none;
  }
}