.nav {
  display: none;

  .nav-active & {
    display: block;
    overflow: auto;
    position: absolute;
    top: 100%;
    left: -15px;
    right: -15px;
    background-color: $white;
    height: calc(100vh - 60px);
    margin-top: 1px;
    padding-top: 20px;
  }

  &__list {
    @include list-unstyled;
  }

  &__item {
    position: relative;
  }

  &__link {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 17px;
    @include font($font-size-sm, $line-height-sm);
    letter-spacing: 0.05em;
    text-transform: uppercase;
    text-decoration: none;
    white-space: nowrap;
    color: inherit;

    @include hover-focus {
      color: $brand-primary;
    }

    &-icon {
      display: none;
    }
  }

  @include media-breakpoint-up(sm) {
    .nav-active & {
      left: auto;
      width: 320px;
    }
  }

  @include media-breakpoint-up(lg) {
    padding-top: 0;
    margin-left: 0;
    margin-right: 0;
    display: block;

    .nav-active & {
      height: auto;
      overflow: visible;
      background: none;
      position: relative;
      top: 0;
      left: 0;
      right: 0;
      margin-top: 0;
      padding-top: 0;
      width: auto;
    }

    &__list {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    &__link {
      justify-content: flex-start;
      padding: 18px 20px;

      &-icon {
        font-size: 6px;
        padding-left: 7px;
        display: inline;
      }
    }

    &__subnav {
      display: none;
      padding-left: 0;

      .nav__item:hover &,
      .nav__item:focus & {
        display: block;
      }
    }
  }
}
