.personal {
  &__content {
    margin-top: -30px;
  }

  &__rating {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-left: -40px;
    margin-right: -40px;
    margin-bottom: 21px;

    &-item {
      margin-left: 40px;
      margin-right: 40px;
    }

    &-title {
      font-weight: 400;
      margin-bottom: 0;
      vertical-align: middle;
    }

    &-number {
      @include font($font-size-lg, $line-height-lg, 700);
      margin-left: 22px;
      vertical-align: middle;
    }

    &-link {
      @include font($font-size-md, $line-height-md, 700);
      color: $brand-primary;
    }
  }

  &__nav {
    @include list-unstyled;
    margin-left: -19px;
    margin-right: -19px;
    margin-bottom: 56px;

    &-item {
      @include font($font-size-md, $line-height-md, 700);
      margin: 10px 19px;
      display: inline-block;
    }

    &-link {
      white-space: nowrap;
    }
  }

  @include media-breakpoint-up(lg) {
    &__col-about {
      padding-left: 45px;
      padding-right: 33px;
    }
  }
}