.rating-list {
  @include list-unstyled;
  @include font($font-size-sm, $line-height-sm);

  &__item {
    @include margin-last(10px);
    display: flex;
    justify-content: space-between;
  }

  &__text {
    flex: 1;
    padding-right: 10px;
  }

  &__number {
    font-weight: 700;
  }
}