.registration {
  &__content {
    margin-top: -32px;
  }

  &__title {
    margin-bottom: 39px;
  }

  @include media-breakpoint-up(sm) {
    &__col {
      max-width: 530px;
      flex: 0 0 530px;
    }
  }
}