.search-form {
  position: relative;
  padding-right: 15px;

  &__control {
    border: 0;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    @include font($font-size-sm, $line-height-xs, 400);
    padding: 0 33px 0 15px;
  }
  &__button {
    @include size(30px);
    font-size: 15px;
    line-height: 30px;
    text-align: right;
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -13px;
    padding: 0;
    outline: 0;
    border: 0;
    background: none;
  }

  @include media-breakpoint-up(lg) {
    padding-right: 0;

    &__control {
      text-align: right;
      padding-left: 0;
    }
  }
}
