.social {
  @include list-unstyled;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: -20px;
  margin-right: -20px;
  &__item {
    margin-left: 20px;
    margin-right: 20px;
  }
  &__link {
    display: block;
    color: inherit;
    text-decoration: none;
    font-size: 30px;
    &.icon-vkontakte {
      font-size: 40px;
    }
    &.icon-youtube {
      font-size: 36px;
    }
  }
}