.specialist {
  &__header {
    border-bottom: 1px solid $gray;
    padding-bottom: 76px;
    margin-top: 84px;
    @include margin-last(80px);
  }

  &__img-placeholder {
    display: block;
    margin-bottom: 20px;
  }

  &__img {
    display: block;
    @include size(264px);
    @include rounded;
  }

  &__location {
    @include margin-last(9px);
    @include em-line-height($font-size-base, $line-height-md-2);

    a {
      text-decoration: none;
    }
  }

  &__work {
    @include margin-last(9px);
    @include em-line-height($font-size-base, $line-height-md-2);
  }

  &__info {
    margin-top: 30px;
    margin-left: -7px;
    margin-right: -7px;
    @include margin-last(30px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &-toggle {
      font-weight: 700;
      width: 280px;
      margin: 10px 7px;
      padding-left: 0;
      padding-right: 0;

      b {
        font-weight: 900;
      }
    }

    &-link {
      font-weight: 700;
      margin: 10px 7px;
      white-space: nowrap;
    }
  }

  @include media-breakpoint-up(sm) {
    &__info {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: flex-start;
    }
  }

  @include media-breakpoint-up(md) {
    &__header {
      display: flex;
    }

    &__img-placeholder {
      margin-right: 30px;
      margin-bottom: 0;
    }

    &__content {
      flex: 1;
    }
  }

  @include media-breakpoint-between(md, md) {
    &__img {
      @include size(166px);
    }
  }

  @include media-breakpoint-up(lg) {
    &__img-placeholder {
      max-width: 264px;
      flex: 0 0 264px;
    }
  }

  @include media-breakpoint-up(xl) {

    &__info {
      margin-right: -80px;
      flex-wrap: nowrap;
    }
  }
}