.specialists {
  &__item {
    box-shadow: 0 0 30px rgba($gray, 0.5);
    border-radius: 3px;
    @include margin-last(30px);
    min-height: 300px;
    position: relative;
  }

  &__img-placeholder {
    display: block;
    padding: 20px 15px 5px;
  }

  &__img {
    display: block;
    @include size(166px);
    @include rounded;
  }

  &__content {
    padding: 15px 15px 30px;
  }

  &__name {
    margin-bottom: 12px;

    a {
      color: $base-color;
    }
  }

  &__info {
    @include margin-last(12px);

    &-item {
      @include margin-last(7px);
    }
  }

  &__text {
    @include margin-last(28px);
  }

  &__links {
    &-item {
      color: $brand-primary;
      margin-right: 8px;
    }
  }

  &__rating {
    background-color: rgba($gray, .1);
    border-radius: 0 0 3px 3px;
    padding: 20px 15px;
    @include font($font-size-sm, $line-height-sm);

    &-header {
      border-bottom: 1px solid $gray;
      display: flex;
      align-items: flex-end;
      justify-content: space-between;
      padding-bottom: 16px;
      margin-bottom: 13px;
    }

    &-title {
      @include font($font-size-sm, $line-height-sm, 400);
      text-transform: none;
      margin-bottom: 2px;
    }

    &-value {
      @include font($font-size-md, $line-height-md, 700);
      text-transform: none;
    }
  }

  &__delete {
    position: absolute;
    top: -15px;
    right: -15px;
    @include size(30px);
    @include rounded;
    background-color: $brand-primary;
    color: $white;
    font-size: 11px;
    line-height: 30px;
    text-decoration: none;
    text-align: center;

    @include hover-focus {
      color: $white;
    }
  }

  @include media-breakpoint-up(md) {
    &__item {
      display: flex;
    }

    &__content {
      flex: 1;
    }

    &__rating {
      border-radius: 0 3px 3px 0;
    }
  }

  @include media-breakpoint-between(md, md) {
    &__img {
      @include size(100px);
    }

    &__rating {
      width: 27%;
    }
  }

  @include media-breakpoint-up(lg) {
    &__img-placeholder {
      padding: 45px 65px;
    }

    &__content {
      padding: 39px 38px 50px 13px;
    }

    &__rating {
      width: 279px;
      padding: 35px 30px;
    }
  }

  @include media-breakpoint-up(xxl) {
    &__list {
      margin-left: -15px;
      margin-right: -15px;
    }
  }
}