.subnav {
  @include list-unstyled;
  padding-left: 20px;

  &__link {
    @include font($font-size-sm, $line-height-sm);
    letter-spacing: 0.05em;
    text-transform: uppercase;
    text-decoration: none;
    white-space: nowrap;
    color: inherit;
    padding: 9px 15px;
    display: block;

    @include hover-focus {
      color: $brand-primary;
    }
  }

  @include media-breakpoint-up(lg) {
    background-color: $white;
    box-shadow: 0 0 4px rgba($black, 0.25);
    text-align: center;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    min-width: 200px;
    padding-top: 20px;
    padding-left: 0;
    padding-bottom: 22px;
  }
}
