.tenders {
  &__title {
    margin-bottom: 50px;
  }

  &__content {
    margin-top: -32px;
  }

  &__alert {
    margin-top: 50px;
    margin-bottom: 40px;
  }

  &__form {
    margin-top: 59px;
    max-width: 530px;
  }

  &__list {
    @include list-unstyled;
  }

  &__item {
    padding-bottom: 46px;
    border-bottom: 1px solid $gray;
    @include margin-last(50px);

    &-header {
      display: flex;
      align-items: center;
    }

    &-date {
      @include font($font-size-md, $line-height-md, 700);
      color: $black;
      margin-right: 27px;
    }

    &-badge {
      min-width: 160px;
    }

    &-text {
      margin-top: 27px;
    }

    &-work {
      @include font($font-size-md, $line-height-md, 700);
      margin-top: 28px;

      a {
        text-decoration: none;
      }
    }

    &-price {
      @include font($font-size-md, $line-height-md, 700);
      color: $black;
      margin-top: 26px;
    }
  }

  @include media-breakpoint-up(sm) {
    &__item {
      &-badge {
        min-width: 180px;
      }
    }
  }

  @include media-breakpoint-up(md) {
    &__col {
      max-width: 645px;
      flex: 0 0 645px;
    }
  }
}