//
// Headings
//

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  margin-top: 0;
  margin-bottom: 0;
  font-weight:700;
}
h1, .h1 {
  @include font($font-size-lg, $line-height-lg);
  margin-bottom: 64px;
  word-break: break-word;
}
h2, .h2 {
  @include font($font-size-h2, $line-height-h2);
  margin-bottom: 27px;
}
h3, .h3 {
  @include font($font-size-h3, $line-height-h3);
  text-transform: uppercase;
  font-weight: 900;
  margin-bottom: 19px;
}
h4, .h4 {
  @include font($font-size-h4, $line-height-h4, 700);
}
h5, .h5 {
  @include font($font-size-h5, $line-height-h5);
}
h6, .h6 {
  @include font($font-size-h6, $line-height-h6);
}

@include media-breakpoint-up(sm) {
  h1, .h1 {
    @include font($font-size-h1, $line-height-h1);
  }
}
strong,
b {
  font-weight: 700;
}

p,
address,
ol,
ul,
dl {
  margin-top: 0;
  @include margin-last(1.4375em);
}

address {
  font-style: normal;
  line-height: inherit;
}

ol ol,
ul ul,
ol ul,
ul ol {
  margin-bottom: 0;
}

dt {
  font-weight:400;
}

dd {
  margin:0 0 10px;

  &:last-child {
    margin-bottom:0;
  }
}

blockquote {
  border-left: 5px solid $base-color;
  padding: 0 0 0 30px;
  margin: 0 0 1.4375em;
  font-weight: 900;
  @include margin-last(51px);
  &:not(:first-child) {
    margin-top: 2.8125em;
  }
}

hr {
  border: 1px solid $gray;
  border-width: 1px 0 0;
  margin-top: 42px;
  margin-bottom: 37px;
  background: none;
  clear: both;
}

.text-primary {
  color: $brand-primary;
}
.text-warning {
  color: $brand-primary;
}
.text-success {
  color: $green;
}
.text-uppercase {
  text-transform: uppercase;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.text-left {
  text-align: left;
}
