// Variables

// Table of Contents
//
// Colors
// Grid
// Body
// Links
// Fonts
// Components


@mixin _assert-ascending($map, $map-name) {
  $prev-key: null;
  $prev-num: null;
  @each $key, $num in $map {
    @if $prev-num == null {
      // Do nothing
    } @else if not comparable($prev-num, $num) {
      @warn "Potentially invalid value for #{$map-name}: This map must be in ascending order, but key '#{$key}' has value #{$num} whose unit makes it incomparable to #{$prev-num}, the value of the previous key '#{$prev-key}' !";
    } @else if $prev-num >= $num {
      @warn "Invalid value for #{$map-name}: This map must be in ascending order, but key '#{$key}' has value #{$num} which isn't greater than #{$prev-num}, the value of the previous key '#{$prev-key}' !";
    }
    $prev-key: $key;
    $prev-num: $num;
  }
}


// Replace `$search` with `$replace` in `$string`
// @author Hugo Giraudel
// @param {String} $string - Initial string
// @param {String} $search - Substring to replace
// @param {String} $replace ('') - New value
// @return {String} - Updated string
@function str-replace($string, $search, $replace: "") {
  $index: str-index($string, $search);

  @if $index {
    @return str-slice($string, 1, $index - 1) + $replace + str-replace(str-slice($string, $index + str-length($search)), $search, $replace);
  }

  @return $string;
}

@mixin _assert-starts-at-zero($map) {
  $values: map-values($map);
  $first-value: nth($values, 1);
  @if $first-value != 0 {
    @warn "First breakpoint in `$grid-breakpoints` must start at 0, but starts at #{$first-value}.";
  }
}


// Colors
//
// Grayscale and brand colors

$gray: #c2d1d6 !default;
$gray2: #637282 !default;
$gray3: #bfd1d7 !default;
$white: #ffffff !default;
$black: #000000 !default;
$black2: #191D1F !default;
$black3: #0d1d23 !default;
$blue: #246389 !default;
$red: #D23B40 !default;
$yellow: #FFA800 !default;
$green: #318849 !default;

$base-color: $black2 !default;
$brand-primary: $red !default;

// Grid breakpoints
//
// Define the minimum and maximum dimensions at which your layout will change,
// adapting to different screen sizes, for use in media queries.

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 1024px,
  xl: 1176px,
  xxl: 1280px
) !default;
@include _assert-ascending($grid-breakpoints, "$grid-breakpoints");
@include _assert-starts-at-zero($grid-breakpoints);


// Grid containers
//
// Define the maximum width of `.container` for different screen sizes.

$container-max-widths: (
  lg: 1176px
) !default;
@include _assert-ascending($container-max-widths, "$container-max-widths");

// Grid columns
//
// Set the number of columns and specify the width of the gutters.

$grid-columns: 12 !default;
$grid-gutter-width: 30px !default; // 30px

// Body
//
// Settings for the `<body>` element.

$body-bg: $white !default;
$body-color: $base-color !default;


// Links
//
// Style anchor elements.

$link-color: $blue !default;
$link-decoration: none !default;
$link-hover-color: lighten($blue, 10%) !default;
$link-hover-decoration: underline !default;

// Typography
//
// Font, line-height, and color for body text, headings, and more.

$font-family-sans-serif: 'Lato', Arial, sans-serif !default;
$font-family-serif:  Georgia, "Times New Roman", Times, serif !default;
$font-family-base: $font-family-sans-serif !default;

$font-size-base: 16px !default;
$font-size-lg: 30px !default;
$font-size-md: 18px !default;
$font-size-sm: 13px !default;

$line-height-base: 23px !default;
$line-height-lg: 40px !default;
$line-height-md: 24px !default;
$line-height-md-2: 21px !default;
$line-height-md-3: 19px !default;
$line-height-sm: 16px !default;
$line-height-xs: 15px !default;

$font-size-h1: 40px !default;
$font-size-h2: 24px !default;
$font-size-h3: 16px !default;
$font-size-h4: 15px !default;
$font-size-h5: 14px !default;
$font-size-h6: 13px !default;

$line-height-h1: 43px !default;
$line-height-h2: 32px !default;
$line-height-h3: 19px !default;
$line-height-h4: 18px !default;
$line-height-h5: 16px !default;
$line-height-h6: 15px !default;

$small-font-size: 80% !default;

$text-muted: $black2 !default;

// Buttons
//
//
$btn-padding-x: $line-height-md + 2 !default;
$btn-padding-y: 14px !default;
$btn-font-weight: 400 !default;
$btn-font-size: $font-size-md !default;
$btn-font-family: $font-family-base !default;
$btn-line-height: $line-height-md !default;
$btn-border-width: 2px !default;
$btn-height: 60px !default;

$btn-default-color: $white !default;
$btn-default-bg: $blue !default;
$btn-default-border: $btn-default-bg !default;

$btn-primary-color: $white !default;
$btn-primary-bg: $brand-primary !default;
$btn-primary-border: $btn-primary-bg !default;

$btn-lg-padding-x: $btn-padding-x !default;
$btn-lg-padding-y: 12px !default;
$btn-lg-font-size: $font-size-base !default;

$btn-md-padding-x: 40px !default;
$btn-md-padding-y: 10px !default;
$btn-md-height: 50px !default;

$btn-sm-padding-x: 16px !default;
$btn-sm-padding-y: 0 !default;
$btn-sm-height: 30px !default;

$btn-link-disabled-color: $gray2 !default;

// Allows for customizing button radius independently from global border radius
$btn-border-radius: 100px !default;
$btn-border-radius-lg: 0 !default;
$btn-border-radius-sm: 0 !default;


// Form
//
//
$input-color-placeholder: rgba($gray2, .5) !default;

$input-height: 40px !default;
$input-font-size: $font-size-base !default;
$input-padding-y: 7px !default;
$input-padding-x: 10px !default;
$input-line-height: $line-height-base !default;

$input-bg: transparent !default;
$input-bg-disabled: $white !default;

$input-color: $base-color !default;
$input-border-color: rgba($gray2, .3) !default;
$input-border-width: 1px !default;
$input-border-radius: 3px !default;

$input-bg-focus: $white !default;
$input-border-focus: $gray !default;
$input-color-focus: $gray !default;

$input-sm-height: 30px !default;
$input-sm-font-size: $font-size-sm !default;
$input-sm-padding-y: 10px !default;
$input-sm-padding-x: 10px !default;
$input-sm-line-height: 14px !default;

$form-group-margin-bottom: 29px !default;

$cursor-disabled: not-allowed !default;
