.video {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;
  margin-top: 50px;
  margin-bottom: 50px;
  overflow: hidden;

  iframe,
  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  img {
    margin: 0;
  }

  &__button {
    @include size(100px);
    @include rounded;
    border: 2px solid $white;
    background-color: rgba($black3, .5);
    color: $white;
    font-size: 32px;
    line-height: 96px;
    text-align: center;
    text-decoration: none;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -50px;
    padding-left: 6px;
  }
}
