.work {
  margin-bottom: -40px;

  &__title {
    margin-bottom: 50px;
  }

  &__list {
    @include list-unstyled;
    margin-left: -12px;
    margin-right: -13px;
  }

  &__item {
    padding-left: 12px;
    padding-right: 13px;
    margin-bottom: 37px;

    &-img-placeholder {
      display: block;
      margin-bottom: 20px;
    }

    &-img {
      display: block;
      width: 100%;
    }

    &-title {
      @include em-line-height($font-size-base, $line-height-md-2);
    }
  }

  @include media-breakpoint-up(sm) {
    &__list {
      display: flex;
      flex-wrap: wrap;
    }

    &__item {
      max-width: 50%;
      flex: 0 0 50%;
    }
  }

  @include media-breakpoint-up(md) {
    &__item {
      max-width: 33.33%;
      flex: 0 0 33.33%;
    }
  }
}