<ul class="files__list">
  {% for item in files %}
    <li class="files__item">
      <a href="" class="files__link">
        <i class="files__icon files__icon_default icon-{{ item.icon }}"></i>
        <i class="files__icon files__icon_hover icon-{{ item.icon }}-on"><span class="path1"></span><span class="path2"></span></i>
        <div class="files__content">
          <div class="files__name">{{ item.name }}</div>
          <div class="files__info">{{ item.info }}</div>
        </div>
      </a>
    </li>
  {% endfor %}
</ul>
