<div class="filter__list">
  {% for filter in filters %}
    {% set filterId = loop.index %}
    <div class="filter__item dropdown">
      <a href="" class="dropdown__toggle" data-active-id="filter-{{filterId}}-1" data-dropdown-toggle>{{ filter.name }}</a>
      <ul class="dropdown__list" data-dropdown-content>
        {% for item in filter.list %}
          <li class="dropdown__item">
            <a href="" class="dropdown__link {% if loop.first %}active{% endif %}" data-id="filter-{{filterId}}-{{loop.index}}">
              {{ item }}
            </a>
          </li>
        {% endfor %}
      </ul>
    </div>
  {% endfor %}
</div>