<ul class="guide__list">
  {% for item in guide %}
    <li class="guide__item" style="background-image: url({{ item.image }});">
      <a href="" class="guide__item-link">
        <div class="guide__item-content">
          <h2 class="guide__item-title">{{ item.title }}</h2>
          <div class="guide__item-description h2">{{ item.description }}</div>
        </div>
      </a>
    </li>
  {% endfor %}
</ul>
