<ul class="nav__list">
  {% for item in nav %}
    <li class="nav__item">
      <a href="{% if item.link %}{{item.link}}{% endif %}" class="nav__link" {% if item.list %} data-nav-toggle {% endif %}>
        {{ item.title }}
        {% if item.list %}<i class="nav__link-icon"></i>{% endif %}
      </a>
      {% if item.list %}
        <ul class="nav__subnav subnav" data-nav-content>
          {% for subnavItem in item.list %}
            <li class="subnav__item">
              {% if subnavItem.link %}
                <a href="{{ subnavItem.link }}" class="subnav__link">
              {% else %}
                <a href="#" class="subnav__link">
              {% endif %}
              {{ subnavItem.title }}
            </a>
          </li>
        {% endfor %}
      </ul>
    {% endif %}
  </li>
{% endfor %}
</ul>
