<div class="specialists__list">
  {% for specialist in specialists %}
    <div class="specialists__item">
      <a href="specialist.html" class="specialists__img-placeholder">
        <img src="{{ specialist.image }}" alt="{{ specialist.name }}" class="specialists__img">
      </a>
      <div class="specialists__content">
        <h2 class="specialists__name"><a href="specialist.html">{{ specialist.name }}</a></h2>
        {% if specialist.info %}
          <div class="specialists__info">
            {% for info in specialist.info %}
              <p class="specialists__info-item">
                {% for link in info.list %}
                  {% if loop.last %}<a href="">{{ link }}</a>{% else %}<a href="">{{ link }}</a>,{% endif %}
                {% endfor %}
              </p>
            {% endfor %}
          </div>
        {% endif %}
        {% if specialist.text %}
          <div class="specialists__text">{{ specialist.text }}</div>
        {% endif %}
        {% if specialist.links %}
          <div class="specialists__links">
            {% for link in specialist.links %}
              <a href="" class="specialists__links-item">{{ link }}</a>
            {% endfor %}
          </div>
        {% endif %}
      </div>
      {% if specialist.rating %}
        <div class="specialists__rating">
          {% for rating in specialist.rating %}
            <div class="specialists__rating-header">
              <h3 class="specialists__rating-title">Рейтинг кинодела</h3>
              <div class="specialists__rating-value">{{ rating.value }}</div>
            </div>
            {% if rating.list %}
              <ul class="specialists__rating-list rating-list">
                {% for ratingItem in rating.list %}
                  <li class="rating-list__item">
                    <div class="rating-list__text">
                      {% if ratingItem.nolink %}
                        {{ ratingItem.name }}
                        {% else %}
                        <a href="">{{ ratingItem.name }}</a>
                      {% endif %}
                    </div>
                    <div class="rating-list__number">{{ ratingItem.number }}</div>
                  </li>
                {% endfor %}
              </ul>
            {% endif %}
          {% endfor %}
        </div>
      {% endif %}
    </div>
  {% endfor %}
</div>