<div class="tenders__list">
  {% for tender in tenders %}
    <div class="tenders__item">
      <div class="tenders__item-header">
        <div class="tenders__item-date">{{ tender.date }}</div>
        <div class="tenders__item-badge badge badge_{{ tender.statusClass }}">{{ tender.status }}</div>
      </div>
      <div class="tenders__item-text">{{ tender.text }}</div>
      {% if tender.work %}
        <div class="tenders__item-work">
          {% for item in tender.work %}
            {% if loop.last %}<a href="">{{ item }}</a>{% else %}<a href="">{{ item }}</a>,{% endif %}
          {% endfor %}
        </div>
      {% endif %}
      <div class="tenders__item-price">{{ tender.price }}</div>
    </div>
  {% endfor %}
</div>