<ul class="work__list">
  {% for work in works %}
    <li class="work__item">
      <a href="" class="work__item-img-placeholder">
        <img src="{{ work.image }}" alt="{{ work.title }}" class="work__item-img">
      </a>
      <div class="work__item-title"><a href="">{{ work.title }}</a></div>
    </li>
  {% endfor %}
</ul>
