@mixin margin-last($margin, $last-margin: null) {
  margin-bottom: ($margin);

  @if $last-margin {
    &:last-of-type {
      margin-bottom: $last-margin;
    }
  }
  &:last-child {
    margin-bottom: 0;
  }
}
