@charset "UTF-8";
/*! normalize.css v4.2.0 | MIT License | github.com/necolas/normalize.css */
html {
      -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
progress,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

progress {
  vertical-align: baseline;
}

template,
[hidden] {
  display: none;
}

a {
  background-color: transparent;

  -webkit-text-decoration-skip: objects;
}

a:active,
a:hover {
  outline-width: 0;
}

abbr[title] {
          text-decoration: underline;
          text-decoration: underline dotted;
  border-bottom: none;

  -webkit-text-decoration: underline dotted;
}

b,
strong {
  font-weight: inherit;
}

b,
strong {
  font-weight: 500;
}

dfn {
  font-style: italic;
}

sub,
sup {
  position: relative;
  vertical-align: baseline;
  font-size: 75%;
  line-height: 0;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 1em 40px;
}

hr {
  overflow: visible;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
}

button,
input,
optgroup,
select,
textarea {
  margin: 0;
  font: inherit;
}

optgroup {
  font-weight: bold;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  padding: 0;
  border-style: none;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

textarea {
  overflow: auto;
}

[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  outline-offset: -2px;

  -webkit-appearance: textfield;
}

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-input-placeholder {
  opacity: 0.54;
  color: inherit;
}

::-webkit-file-upload-button {
  font: inherit;

  -webkit-appearance: button;
}

@media print {
  *,
  *::before,
  *::after,
  *::first-letter,
  p::first-line,
  div::first-line,
  blockquote::first-line,
  li::first-line {
    -webkit-box-shadow: none !important;
            box-shadow: none !important;
    text-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  abbr[title]::after {
    content: " (" attr(title) ")";
  }
  pre {
    white-space: pre-wrap !important;
  }
  pre,
  blockquote {
    border: 1px solid #637282;

    page-break-inside: avoid;
  }
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
  .navbar {
    display: none;
  }
  .btn > .caret,
  .dropup > .btn > .caret {
    border-top-color: #000000 !important;
  }
  .tag {
    border: 1px solid #000000;
  }
  .table {
    border-collapse: collapse !important;
  }
  .table td,
  .table th {
    background-color: #ffffff !important;
  }
  .table-bordered th,
  .table-bordered td {
    border: 1px solid #dddddd !important;
  }
}

@font-face {
  font-family: "Lato";
  font-weight: 400;
  font-style: normal;

  src: local("Lato Regular"), local("Lato-Regular"), url("../fonts/Lato-Regular.woff") format("woff");
}

@font-face {
  font-family: "Lato";
  font-weight: 400;
  font-style: italic;

  src: local("Lato Italic"), local("Lato-Italic"), url("../fonts/Lato-Italic.woff") format("woff");
}

@font-face {
  font-family: "Lato";
  font-weight: 700;
  font-style: normal;

  src: local("Lato Bold"), local("Lato-Bold"), url("../fonts/Lato-Bold.woff") format("woff");
}

@font-face {
  font-family: "Lato";
  font-weight: 900;
  font-style: normal;

  src: local("Lato Black"), local("Lato-Black"), url("../fonts/Lato-Black.woff") format("woff");
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

@-ms-viewport {
  width: device-width;
}

html,
body {
  height: 100%;
}

html {
  font-size: 16px;

  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  overflow-x: hidden;
  color: #191d1f;
  background: #ffffff;
  font-family: "Lato", Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4375;
}

body.nav-active {
  overflow: hidden;
}

@media (min-width: 1024px) {
  body.nav-active {
    overflow: visible;
  }
}

[tabindex="-1"]:focus {
  outline: none !important;
}

a {
  -webkit-transition: all 0.15s ease-in-out;
          transition: all 0.15s ease-in-out;
  text-decoration: none;
  color: #246389;
  outline: 0;
}

a:focus, a:hover {
  color: #2f80b1;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

[role="button"] {
  cursor: pointer;
}

a,
area,
button,
[role="button"],
input,
label,
select,
summary,
textarea {
  -ms-touch-action: manipulation;
      touch-action: manipulation;
}

button:focus {
  outline: 1px dotted;
  outline: 5px auto -webkit-focus-ring-color;
}

input,
button,
select,
textarea {
  line-height: inherit;
}

input[type="radio"]:disabled,
input[type="checkbox"]:disabled {
  cursor: default;
}

input[type="date"],
input[type="time"],
input[type="datetime-local"],
input[type="month"] {
  -webkit-appearance: listbox;
}

textarea {
  resize: vertical;
}

fieldset {
  min-width: 0;
  margin: 0;
  padding: 0;
  border: 0;
}

legend {
  display: block;
  width: 100%;
  margin-bottom: 0.5em;
  padding: 0;
  font-size: 1.5em;
  line-height: inherit;
}

input[type="search"] {
  -webkit-appearance: none;
}

[hidden] {
  display: none !important;
}

.hidden {
  display: none;
}

hr {
  width: auto;
  height: 1px;
  margin-top: 39px;
  margin-bottom: 36px;
  border: 0 none;
  background-color: #191d1f;
}

.page {
  overflow: hidden;
}

@media (min-width: 1024px) {
  .page {
    min-height: 100%;
    /* equal to footer height */
    margin-bottom: -310px;
  }
  .page:after {
    display: block;
    content: "";
  }
  .footer,
  .page:after {
    min-height: 310px;
  }
}

@font-face {
  font-family: "icons";
  font-weight: normal;
  font-style: normal;

  src: url("../fonts/icons.ttf?xw22aa") format("truetype"), url("../fonts/icons.woff?xw22aa") format("woff"), url("../fonts/icons.svg?xw22aa#icomoon") format("svg");
}

[class^="icon-"], [class*=" icon-"],
.nav__link-icon:before,
.custom-control__indicator:before,
.dropdown__toggle:after,
.form__select:after {
  text-transform: none;
  color: inherit;
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icons" !important;
  font-weight: normal;
  font-style: normal;
  font-variant: normal;
  line-height: 1;

  speak: none;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-caret-down:before,
.nav__link-icon:before,
.dropdown__toggle:after,
.form__select:after {
  content: "\e900";
}

.icon-caret-up:before,
.nav__link:hover .nav__link-icon:before,
.nav__link:focus .nav__link-icon:before,
.nav__link.active .nav__link-icon:before {
  content: "\e914";
}

.icon-caret-left:before {
  content: "\e901";
}

.icon-check:before,
.custom-control__indicator:before {
  content: "\e902";
}

.icon-close:before {
  content: "\e903";
}

.icon-play:before {
  content: "\e909";
}

.icon-user:before {
  content: "\e90d";
}

.icon-arrow-top:before {
  content: "\e90e";
}

.icon-pdf:before {
  content: "\e908";
}

.icon-pdf-on .path1:before {
  content: "\e907";
  color: #d23b40;
}

.icon-pdf-on .path2:before {
  margin-left: -0.75em;
  content: "\e90f";
  color: white;
}

.icon-doc:before {
  content: "\e904";
}

.icon-doc-on .path1:before {
  content: "\e910";
  color: #d23b40;
}

.icon-doc-on .path2:before {
  margin-left: -0.75em;
  content: "\e911";
  color: white;
}

.icon-xls:before {
  content: "\e90b";
}

.icon-xls-on .path1:before {
  content: "\e912";
  color: #d23b40;
}

.icon-xls-on .path2:before {
  margin-left: -0.75em;
  content: "\e913";
  color: white;
}

.icon-facebook:before {
  content: "\e905";
}

.icon-instagram:before {
  content: "\e906";
}

.icon-vkontakte:before {
  content: "\e90a";
}

.icon-youtube:before {
  content: "\e90c";
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 700;
}

h1, .h1 {
  margin-bottom: 64px;
  word-break: break-word;
  font-size: 30px;
  line-height: 1.3333333333;
}

h2, .h2 {
  margin-bottom: 27px;
  font-size: 24px;
  line-height: 1.3333333333;
}

h3, .h3 {
  margin-bottom: 19px;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 900;
  line-height: 1.1875;
}

h4, .h4 {
  font-size: 15px;
  font-weight: 700;
  line-height: 1.2;
}

h5, .h5 {
  font-size: 14px;
  line-height: 1.1428571429;
}

h6, .h6 {
  font-size: 13px;
  line-height: 1.1538461538;
}

@media (min-width: 576px) {
  h1, .h1 {
    font-size: 40px;
    line-height: 1.075;
  }
}

strong,
b {
  font-weight: 700;
}

p,
address,
ol,
ul,
dl {
  margin-top: 0;
  margin-bottom: 1.4375em;
}

p:last-child,
address:last-child,
ol:last-child,
ul:last-child,
dl:last-child {
  margin-bottom: 0;
}

address {
  font-style: normal;
  line-height: inherit;
}

ol ol,
ul ul,
ol ul,
ul ol {
  margin-bottom: 0;
}

dt {
  font-weight: 400;
}

dd {
  margin: 0 0 10px;
}

dd:last-child {
  margin-bottom: 0;
}

blockquote {
  margin: 0 0 1.4375em;
  margin-bottom: 51px;
  padding: 0 0 0 30px;
  border-left: 5px solid #191d1f;
  font-weight: 900;
}

blockquote:last-child {
  margin-bottom: 0;
}

blockquote:not(:first-child) {
  margin-top: 2.8125em;
}

hr {
  clear: both;
  margin-top: 42px;
  margin-bottom: 37px;
  border: 1px solid #c2d1d6;
  border-width: 1px 0 0;
  background: none;
}

.text-primary {
  color: #d23b40;
}

.text-warning {
  color: #d23b40;
}

.text-success {
  color: #318849;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
}

@media (min-width: 1024px) {
  .container {
    width: 100%;
    max-width: 1176px;
  }
}

.container:empty {
  display: none;
}

.container_sm {
  max-width: 980px;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: -15px;
  margin-left: -15px;

  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.row-h-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.row-h-justify {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.col {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xxl-1, .col-xxl-2, .col-xxl-3, .col-xxl-4, .col-xxl-5, .col-xxl-6, .col-xxl-7, .col-xxl-8, .col-xxl-9, .col-xxl-10, .col-xxl-11, .col-xxl-12 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

.col-xs-1 {
  max-width: 8.3333333333%;

  -webkit-box-flex: 0;
      -ms-flex: 0 0 8.3333333333%;
          flex: 0 0 8.3333333333%;
}

.col-xs-2 {
  max-width: 16.6666666667%;

  -webkit-box-flex: 0;
      -ms-flex: 0 0 16.6666666667%;
          flex: 0 0 16.6666666667%;
}

.col-xs-3 {
  max-width: 25%;

  -webkit-box-flex: 0;
      -ms-flex: 0 0 25%;
          flex: 0 0 25%;
}

.col-xs-4 {
  max-width: 33.3333333333%;

  -webkit-box-flex: 0;
      -ms-flex: 0 0 33.3333333333%;
          flex: 0 0 33.3333333333%;
}

.col-xs-5 {
  max-width: 41.6666666667%;

  -webkit-box-flex: 0;
      -ms-flex: 0 0 41.6666666667%;
          flex: 0 0 41.6666666667%;
}

.col-xs-6 {
  max-width: 50%;

  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
}

.col-xs-7 {
  max-width: 58.3333333333%;

  -webkit-box-flex: 0;
      -ms-flex: 0 0 58.3333333333%;
          flex: 0 0 58.3333333333%;
}

.col-xs-8 {
  max-width: 66.6666666667%;

  -webkit-box-flex: 0;
      -ms-flex: 0 0 66.6666666667%;
          flex: 0 0 66.6666666667%;
}

.col-xs-9 {
  max-width: 75%;

  -webkit-box-flex: 0;
      -ms-flex: 0 0 75%;
          flex: 0 0 75%;
}

.col-xs-10 {
  max-width: 83.3333333333%;

  -webkit-box-flex: 0;
      -ms-flex: 0 0 83.3333333333%;
          flex: 0 0 83.3333333333%;
}

.col-xs-11 {
  max-width: 91.6666666667%;

  -webkit-box-flex: 0;
      -ms-flex: 0 0 91.6666666667%;
          flex: 0 0 91.6666666667%;
}

.col-xs-12 {
  max-width: 100%;

  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
}

@media (min-width: 576px) {
  .col-sm-1 {
    max-width: 8.3333333333%;

    -webkit-box-flex: 0;
        -ms-flex: 0 0 8.3333333333%;
            flex: 0 0 8.3333333333%;
  }
  .col-sm-2 {
    max-width: 16.6666666667%;

    -webkit-box-flex: 0;
        -ms-flex: 0 0 16.6666666667%;
            flex: 0 0 16.6666666667%;
  }
  .col-sm-3 {
    max-width: 25%;

    -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
            flex: 0 0 25%;
  }
  .col-sm-4 {
    max-width: 33.3333333333%;

    -webkit-box-flex: 0;
        -ms-flex: 0 0 33.3333333333%;
            flex: 0 0 33.3333333333%;
  }
  .col-sm-5 {
    max-width: 41.6666666667%;

    -webkit-box-flex: 0;
        -ms-flex: 0 0 41.6666666667%;
            flex: 0 0 41.6666666667%;
  }
  .col-sm-6 {
    max-width: 50%;

    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
  }
  .col-sm-7 {
    max-width: 58.3333333333%;

    -webkit-box-flex: 0;
        -ms-flex: 0 0 58.3333333333%;
            flex: 0 0 58.3333333333%;
  }
  .col-sm-8 {
    max-width: 66.6666666667%;

    -webkit-box-flex: 0;
        -ms-flex: 0 0 66.6666666667%;
            flex: 0 0 66.6666666667%;
  }
  .col-sm-9 {
    max-width: 75%;

    -webkit-box-flex: 0;
        -ms-flex: 0 0 75%;
            flex: 0 0 75%;
  }
  .col-sm-10 {
    max-width: 83.3333333333%;

    -webkit-box-flex: 0;
        -ms-flex: 0 0 83.3333333333%;
            flex: 0 0 83.3333333333%;
  }
  .col-sm-11 {
    max-width: 91.6666666667%;

    -webkit-box-flex: 0;
        -ms-flex: 0 0 91.6666666667%;
            flex: 0 0 91.6666666667%;
  }
  .col-sm-12 {
    max-width: 100%;

    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }
}

@media (min-width: 768px) {
  .col-md-1 {
    max-width: 8.3333333333%;

    -webkit-box-flex: 0;
        -ms-flex: 0 0 8.3333333333%;
            flex: 0 0 8.3333333333%;
  }
  .col-md-2 {
    max-width: 16.6666666667%;

    -webkit-box-flex: 0;
        -ms-flex: 0 0 16.6666666667%;
            flex: 0 0 16.6666666667%;
  }
  .col-md-3 {
    max-width: 25%;

    -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
            flex: 0 0 25%;
  }
  .col-md-4 {
    max-width: 33.3333333333%;

    -webkit-box-flex: 0;
        -ms-flex: 0 0 33.3333333333%;
            flex: 0 0 33.3333333333%;
  }
  .col-md-5 {
    max-width: 41.6666666667%;

    -webkit-box-flex: 0;
        -ms-flex: 0 0 41.6666666667%;
            flex: 0 0 41.6666666667%;
  }
  .col-md-6 {
    max-width: 50%;

    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
  }
  .col-md-7 {
    max-width: 58.3333333333%;

    -webkit-box-flex: 0;
        -ms-flex: 0 0 58.3333333333%;
            flex: 0 0 58.3333333333%;
  }
  .col-md-8 {
    max-width: 66.6666666667%;

    -webkit-box-flex: 0;
        -ms-flex: 0 0 66.6666666667%;
            flex: 0 0 66.6666666667%;
  }
  .col-md-9 {
    max-width: 75%;

    -webkit-box-flex: 0;
        -ms-flex: 0 0 75%;
            flex: 0 0 75%;
  }
  .col-md-10 {
    max-width: 83.3333333333%;

    -webkit-box-flex: 0;
        -ms-flex: 0 0 83.3333333333%;
            flex: 0 0 83.3333333333%;
  }
  .col-md-11 {
    max-width: 91.6666666667%;

    -webkit-box-flex: 0;
        -ms-flex: 0 0 91.6666666667%;
            flex: 0 0 91.6666666667%;
  }
  .col-md-12 {
    max-width: 100%;

    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }
}

@media (min-width: 1024px) {
  .col-lg-1 {
    max-width: 8.3333333333%;

    -webkit-box-flex: 0;
        -ms-flex: 0 0 8.3333333333%;
            flex: 0 0 8.3333333333%;
  }
  .col-lg-2 {
    max-width: 16.6666666667%;

    -webkit-box-flex: 0;
        -ms-flex: 0 0 16.6666666667%;
            flex: 0 0 16.6666666667%;
  }
  .col-lg-3 {
    max-width: 25%;

    -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
            flex: 0 0 25%;
  }
  .col-lg-4 {
    max-width: 33.3333333333%;

    -webkit-box-flex: 0;
        -ms-flex: 0 0 33.3333333333%;
            flex: 0 0 33.3333333333%;
  }
  .col-lg-5 {
    max-width: 41.6666666667%;

    -webkit-box-flex: 0;
        -ms-flex: 0 0 41.6666666667%;
            flex: 0 0 41.6666666667%;
  }
  .col-lg-6 {
    max-width: 50%;

    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
  }
  .col-lg-7 {
    max-width: 58.3333333333%;

    -webkit-box-flex: 0;
        -ms-flex: 0 0 58.3333333333%;
            flex: 0 0 58.3333333333%;
  }
  .col-lg-8 {
    max-width: 66.6666666667%;

    -webkit-box-flex: 0;
        -ms-flex: 0 0 66.6666666667%;
            flex: 0 0 66.6666666667%;
  }
  .col-lg-9 {
    max-width: 75%;

    -webkit-box-flex: 0;
        -ms-flex: 0 0 75%;
            flex: 0 0 75%;
  }
  .col-lg-10 {
    max-width: 83.3333333333%;

    -webkit-box-flex: 0;
        -ms-flex: 0 0 83.3333333333%;
            flex: 0 0 83.3333333333%;
  }
  .col-lg-11 {
    max-width: 91.6666666667%;

    -webkit-box-flex: 0;
        -ms-flex: 0 0 91.6666666667%;
            flex: 0 0 91.6666666667%;
  }
  .col-lg-12 {
    max-width: 100%;

    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }
}

@media (min-width: 1176px) {
  .col-xl-1 {
    max-width: 8.3333333333%;

    -webkit-box-flex: 0;
        -ms-flex: 0 0 8.3333333333%;
            flex: 0 0 8.3333333333%;
  }
  .col-xl-2 {
    max-width: 16.6666666667%;

    -webkit-box-flex: 0;
        -ms-flex: 0 0 16.6666666667%;
            flex: 0 0 16.6666666667%;
  }
  .col-xl-3 {
    max-width: 25%;

    -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
            flex: 0 0 25%;
  }
  .col-xl-4 {
    max-width: 33.3333333333%;

    -webkit-box-flex: 0;
        -ms-flex: 0 0 33.3333333333%;
            flex: 0 0 33.3333333333%;
  }
  .col-xl-5 {
    max-width: 41.6666666667%;

    -webkit-box-flex: 0;
        -ms-flex: 0 0 41.6666666667%;
            flex: 0 0 41.6666666667%;
  }
  .col-xl-6 {
    max-width: 50%;

    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
  }
  .col-xl-7 {
    max-width: 58.3333333333%;

    -webkit-box-flex: 0;
        -ms-flex: 0 0 58.3333333333%;
            flex: 0 0 58.3333333333%;
  }
  .col-xl-8 {
    max-width: 66.6666666667%;

    -webkit-box-flex: 0;
        -ms-flex: 0 0 66.6666666667%;
            flex: 0 0 66.6666666667%;
  }
  .col-xl-9 {
    max-width: 75%;

    -webkit-box-flex: 0;
        -ms-flex: 0 0 75%;
            flex: 0 0 75%;
  }
  .col-xl-10 {
    max-width: 83.3333333333%;

    -webkit-box-flex: 0;
        -ms-flex: 0 0 83.3333333333%;
            flex: 0 0 83.3333333333%;
  }
  .col-xl-11 {
    max-width: 91.6666666667%;

    -webkit-box-flex: 0;
        -ms-flex: 0 0 91.6666666667%;
            flex: 0 0 91.6666666667%;
  }
  .col-xl-12 {
    max-width: 100%;

    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }
}

@media (min-width: 1280px) {
  .col-xxl-1 {
    max-width: 8.3333333333%;

    -webkit-box-flex: 0;
        -ms-flex: 0 0 8.3333333333%;
            flex: 0 0 8.3333333333%;
  }
  .col-xxl-2 {
    max-width: 16.6666666667%;

    -webkit-box-flex: 0;
        -ms-flex: 0 0 16.6666666667%;
            flex: 0 0 16.6666666667%;
  }
  .col-xxl-3 {
    max-width: 25%;

    -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
            flex: 0 0 25%;
  }
  .col-xxl-4 {
    max-width: 33.3333333333%;

    -webkit-box-flex: 0;
        -ms-flex: 0 0 33.3333333333%;
            flex: 0 0 33.3333333333%;
  }
  .col-xxl-5 {
    max-width: 41.6666666667%;

    -webkit-box-flex: 0;
        -ms-flex: 0 0 41.6666666667%;
            flex: 0 0 41.6666666667%;
  }
  .col-xxl-6 {
    max-width: 50%;

    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
  }
  .col-xxl-7 {
    max-width: 58.3333333333%;

    -webkit-box-flex: 0;
        -ms-flex: 0 0 58.3333333333%;
            flex: 0 0 58.3333333333%;
  }
  .col-xxl-8 {
    max-width: 66.6666666667%;

    -webkit-box-flex: 0;
        -ms-flex: 0 0 66.6666666667%;
            flex: 0 0 66.6666666667%;
  }
  .col-xxl-9 {
    max-width: 75%;

    -webkit-box-flex: 0;
        -ms-flex: 0 0 75%;
            flex: 0 0 75%;
  }
  .col-xxl-10 {
    max-width: 83.3333333333%;

    -webkit-box-flex: 0;
        -ms-flex: 0 0 83.3333333333%;
            flex: 0 0 83.3333333333%;
  }
  .col-xxl-11 {
    max-width: 91.6666666667%;

    -webkit-box-flex: 0;
        -ms-flex: 0 0 91.6666666667%;
            flex: 0 0 91.6666666667%;
  }
  .col-xxl-12 {
    max-width: 100%;

    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }
}

.col-xs-first {
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
}

.col-xs-last {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.col-sm-first {
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
}

.col-sm-last {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.col-md-first {
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
}

.col-md-last {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.col-lg-first {
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
}

.col-lg-last {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.col-xl-first {
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
}

.col-xl-last {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.col-xxl-first {
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
}

.col-xxl-last {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.row-xs-top {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.row-xs-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.row-xs-bottom {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.row-sm-top {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.row-sm-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.row-sm-bottom {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.row-md-top {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.row-md-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.row-md-bottom {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.row-lg-top {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.row-lg-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.row-lg-bottom {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.row-xl-top {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.row-xl-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.row-xl-bottom {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.row-xxl-top {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.row-xxl-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.row-xxl-bottom {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.col-xs-top {
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.col-xs-center {
  -ms-flex-item-align: center;
      align-self: center;
}

.col-xs-bottom {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.col-sm-top {
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.col-sm-center {
  -ms-flex-item-align: center;
      align-self: center;
}

.col-sm-bottom {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.col-md-top {
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.col-md-center {
  -ms-flex-item-align: center;
      align-self: center;
}

.col-md-bottom {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.col-lg-top {
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.col-lg-center {
  -ms-flex-item-align: center;
      align-self: center;
}

.col-lg-bottom {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.col-xl-top {
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.col-xl-center {
  -ms-flex-item-align: center;
      align-self: center;
}

.col-xl-bottom {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.col-xxl-top {
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.col-xxl-center {
  -ms-flex-item-align: center;
      align-self: center;
}

.col-xxl-bottom {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.button {
  position: relative;
  display: inline-block;
  height: 60px;
  padding: 14px 26px;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-transition: all 0.3s ease-in-out;
          transition: all 0.3s ease-in-out;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  border: 2px solid transparent;
  border-radius: 100px;
  outline: 0;
  font-size: 18px;
  line-height: 24px;
}

.button:focus, .button:hover {
  text-decoration: none;
  outline: 0;
}

.button:focus, .button.focus, .button:active:focus, .button:active.focus, .button.active:focus, .button.active.focus {
  outline: 5px auto -webkit-focus-ring-color;
  outline: 0;
  outline-offset: -2px;
}

.button.focus {
  text-decoration: none;
}

.button:active, .button.active {
  outline: 0;
  background-image: none;
}

.button.disabled, .button:disabled {
  cursor: not-allowed;
  opacity: 0.65;
}

.button__icon {
  position: relative;
  top: -1px;
  display: inline-block;
  margin-right: 4px;
  margin-bottom: -2px;
  vertical-align: middle;
  font-size: 20px;
}

a.button.disabled,
fieldset[disabled] a.button {
  pointer-events: none;
}

.button_white {
  color: #191d1f;
  border-color: #ffffff;
  background-color: #ffffff;
}

.button_white:hover {
  color: #191d1f;
  border-color: #e0e0e0;
  background-color: #e6e5e5;
}

.button_white:focus {
  color: #191d1f;
  border-color: #e0e0e0;
  background-color: #e6e5e5;
}

.button_white:active {
  color: #191d1f;
  border-color: #e0e0e0;
  background-color: #e6e5e5;
  background-image: none;
}

.button_white.disabled:focus, .button_white:disabled:focus {
  border-color: #ffffff;
  background-color: #ffffff;
}

.button_white.disabled:hover, .button_white:disabled:hover {
  border-color: #ffffff;
  background-color: #ffffff;
}

.button_outline_white {
  color: #ffffff;
  border-color: #ffffff;
  background-color: transparent;
  background-image: none;
}

.button_outline_white:focus, .button_outline_white:active {
  color: #d23b40;
  border-color: #ffffff;
  background-color: #ffffff;
}

.button_outline_white:hover {
  color: #d23b40;
  border-color: #ffffff;
  background-color: #ffffff;
}

.button_outline_white.disabled:focus, .button_outline_white:disabled:focus {
  border-color: white;
}

.button_outline_white.disabled:hover, .button_outline_white:disabled:hover {
  border-color: white;
}

.button_primary {
  color: #ffffff;
  border-color: #d23b40;
  background-color: #d23b40;
}

.button_primary:hover {
  color: #ffffff;
  border-color: #a9272b;
  background-color: #b1292d;
}

.button_primary:focus {
  color: #ffffff;
  border-color: #a9272b;
  background-color: #b1292d;
}

.button_primary:active {
  color: #ffffff;
  border-color: #a9272b;
  background-color: #b1292d;
  background-image: none;
}

.button_primary.disabled:focus, .button_primary:disabled:focus {
  border-color: #d23b40;
  background-color: #d23b40;
}

.button_primary.disabled:hover, .button_primary:disabled:hover {
  border-color: #d23b40;
  background-color: #d23b40;
}

.button_outline_primary {
  color: #d23b40;
  border-color: #d23b40;
  background-color: transparent;
  background-image: none;
}

.button_outline_primary:focus, .button_outline_primary:active {
  color: #ffffff;
  border-color: #d23b40;
  background-color: #d23b40;
}

.button_outline_primary:hover {
  color: #ffffff;
  border-color: #d23b40;
  background-color: #d23b40;
}

.button_outline_primary.disabled:focus, .button_outline_primary:disabled:focus {
  border-color: #e58e91;
}

.button_outline_primary.disabled:hover, .button_outline_primary:disabled:hover {
  border-color: #e58e91;
}

.button_default {
  color: #ffffff;
  border-color: #246389;
  background-color: #246389;
}

.button_default:hover {
  color: #ffffff;
  border-color: #174059;
  background-color: #194661;
}

.button_default:focus {
  color: #ffffff;
  border-color: #174059;
  background-color: #194661;
}

.button_default:active {
  color: #ffffff;
  border-color: #174059;
  background-color: #194661;
  background-image: none;
}

.button_default.disabled:focus, .button_default:disabled:focus {
  border-color: #246389;
  background-color: #246389;
}

.button_default.disabled:hover, .button_default:disabled:hover {
  border-color: #246389;
  background-color: #246389;
}

.button_outline_default {
  color: #246389;
  border-color: #246389;
  background-color: transparent;
  background-image: none;
}

.button_outline_default:focus, .button_outline_default:active {
  color: #ffffff;
  border-color: #246389;
  background-color: #246389;
}

.button_outline_default:hover {
  color: #ffffff;
  border-color: #246389;
  background-color: #246389;
}

.button_outline_default.disabled:focus, .button_outline_default:disabled:focus {
  border-color: #459ace;
}

.button_outline_default.disabled:hover, .button_outline_default:disabled:hover {
  border-color: #459ace;
}

.button_md {
  height: 50px;
  padding: 10px 40px;
  font-weight: 700;
}

.button_md b {
  font-weight: 900;
}

.button_sm {
  height: 30px;
  padding: 0 16px;
}

.button_link {
  padding-right: 0;
  padding-left: 0;
}

.button_link:hover {
  border-color: transparent;
}

.button_link:focus, .button_link:hover {
  background-color: transparent;
}

.button_link, .button_link:active, .button_link.active, .button_link:disabled {
  background-color: transparent;
}

.button_link, .button_link:focus, .button_link:active {
  border-color: transparent;
}

.button_link:disabled:focus, .button_link:disabled:hover {
  text-decoration: none;
  color: #637282;
}

.button_block {
  display: block;
  width: 100%;
  min-width: 0;
  margin: 0 auto;
}

.button_block + .button_block {
  margin-top: 5px;
}

input[type="submit"].button_block,
input[type="reset"].button_block,
input[type="button"].button_block {
  width: 100%;
}

.form__control {
  position: relative;
  display: block;
  width: 100%;
  height: 40px;
  padding: 7px 10px 10px;
  -webkit-transition: color ease-in-out 0.15s;
          transition: color ease-in-out 0.15s;
  color: #191d1f;
  border: 1px solid rgba(99, 114, 130, 0.3);
  border-radius: 3px;
  background: none;
  background-clip: padding-box;
  font-family: "Lato", Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4375;
}

.form__control::-ms-expand {
  border: 0;
  background-color: transparent;
}

.form__control::-webkit-input-placeholder {
  opacity: 1;
  color: rgba(99, 114, 130, 0.5);
}

.form__control:-ms-input-placeholder {
  opacity: 1;
  color: rgba(99, 114, 130, 0.5);
}

.form__control::-ms-input-placeholder {
  opacity: 1;
  color: rgba(99, 114, 130, 0.5);
}

.form__control::placeholder {
  opacity: 1;
  color: rgba(99, 114, 130, 0.5);
}

.form__control:disabled, .form__control[readonly] {
  opacity: 1;
  color: rgba(99, 114, 130, 0.5);
  background-color: #ffffff;
}

.form__control:disabled {
  cursor: not-allowed;
}

.form__control:focus, .form__control:active {
  outline: 0;
}

.form__control_sm {
  width: 120px;
}

.form__control.select:not([size]):not([multiple]) {
  height: calc(40px - 1px);
}

.form__control.select:focus::-ms-value {
  color: #191d1f;
}

.form__control-file, .form__control-range {
  display: block;
}

.form__select {
  padding-right: 36px;
}

.form__select select {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  margin: 0;
  padding: 0 0 0 10px;
  cursor: inherit;
  border: 0 none;
  outline: none;
  background: none;

  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.form__select:after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 36px;
  text-align: center;
  color: #d23b40;
  font-size: 7px;
  line-height: 38px;
}

.form__section {
  margin-bottom: 80px;
}

.form__section:last-child {
  margin-bottom: 0;
}

.form__col {
  margin-top: 20px;
}

.form__col:first-child {
  margin-top: 0;
}

@media (min-width: 1024px) {
  .form__col {
    margin-top: 0;
  }
}

.form__group {
  position: relative;
  margin-bottom: 29px;
}

.form__group:last-child {
  margin-bottom: 0;
}

.form_compact .form__group {
  margin-bottom: 20px;
}

.form_compact .form__group:last-child {
  margin-bottom: 0;
}

.form__group_inline {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form__group_inline .form__controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 7px;
  margin-bottom: 8px;

  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form__group_inline .form__label {
  margin-right: 18px;
  margin-bottom: 0;
}

.form__group_inline .form__control {
  margin-right: 30px;
}

.form__group_requered .form__input {
  position: relative;
}

.form__group_requered .form__input:after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 38px;
  content: "*";
  text-align: center;
  color: #d23b40;
  font-size: 18px;
  line-height: 2.7777777778;
}

.form__group_requered .form__input .form__control {
  padding-right: 38px;
}

.form__group_option {
  margin-top: 30px;
}

.form__submit {
  margin: 70px -15px -10px;
}

.form_compact .form__submit {
  margin-top: 20px;
}

.form__submit .button {
  margin: 10px 15px;
}

.form__submit input.button {
  min-width: 264px;
}

@media (min-width: 1024px) {
  .form__submit {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .form__submit .button {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1 1;
  }
}

.form__label {
  display: block;
  margin-bottom: 15px;
  line-height: 1.1875;
}

textarea.form__control {
  height: auto;
  min-height: 100px;
  padding-top: 6px;
}

.custom-control {
  position: relative;
  display: inline-block;
  padding-left: 40px;
  cursor: pointer;
  -webkit-transition: color 0.25s ease-in-out;
          transition: color 0.25s ease-in-out;
  text-align: left;
  color: inherit;
}

.custom-control a {
  white-space: nowrap;
}

.custom-control__input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.custom-control__indicator {
  position: absolute;
  top: 2px;
  left: 5px;
  width: 20px;
  height: 20px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  pointer-events: none;
  color: inherit;
  border: solid 2px #246389;
  background-color: #ffffff;
}

.custom-control__indicator:before {
  display: none;
}

.custom-control__input:checked ~ .custom-control__indicator,
.custom-control__input:active ~ .custom-control__indicator {
  color: #246389;
}

.custom-control__input:checked ~ .custom-control__indicator:before,
.custom-control__input:active ~ .custom-control__indicator:before {
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 9px;
}

.custom-radio .custom-control__indicator {
  border-radius: 50%;
}

.custom-radio .custom-control__input:checked ~ .custom-control__indicator:before,
.custom-radio .custom-control__input:active ~ .custom-control__indicator:before {
  width: 10px;
  height: 10px;
  content: "";
  border-radius: 50%;
  background-color: #d23b40;
}

.link-underlined {
  border-bottom: 1px solid;
}

.link-pseudo {
  border-bottom: 1px dotted;
}

.action {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: -10px;
  margin-left: -10px;

  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.action__button {
  margin: 10px;
}

.alert {
  margin-bottom: 50px;
  padding: 24px;
  text-align: center;
  border: 1px solid #c2d1d6;
  border-radius: 3px;
  font-size: 13px;
  line-height: 1.1538461538;
}

.alert:last-child {
  margin-bottom: 0;
}

.alert__content {
  max-width: 395px;
  margin: 0 auto;
}

.alert_error {
  color: #d23b40;
  border-color: #d23b40;
}

.alert_success {
  color: #318849;
  border-color: #318849;
}

.back {
  margin-top: -57px;
  margin-bottom: 37px;
}

.back__link {
  text-decoration: none;
  color: #d23b40;
  line-height: 1.3125;
}

.back__link-icon {
  margin-right: 13px;
  font-size: 12px;
}

.badge {
  display: inline-block;
  height: 30px;
  padding: 0 20px;
  text-align: center;
  white-space: nowrap;
  color: #c2d1d6;
  border: 2px solid #c2d1d6;
  border-radius: 100px;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.3333333333;
}

.badge_on-review {
  color: #ffa800;
  border-color: #ffa800;
}

.badge_declined {
  color: #d23b40;
  border-color: #d23b40;
}

.badge_sent {
  color: #318849;
  border-color: #318849;
}

.guide__list {
  margin-right: -15px;
  margin-left: -15px;
  padding: 0;
  list-style: none;
}

.guide__item {
  position: relative;
  margin-bottom: 30px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
}

.guide__item:last-child {
  margin-bottom: 0;
}

.guide__item:before {
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: "";
  background-color: rgba(13, 29, 35, 0.5);
}

.guide__item-link {
  position: relative;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 260px;
  padding: 25px 15px 35px;
  text-decoration: none;
  color: #ffffff;

  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.guide__item-link:focus, .guide__item-link:hover {
  color: #ffffff;
}

.guide__item-content {
  width: 100%;
  max-width: 700px;
}

.guide__item-title {
  margin-bottom: 13px;
  font-size: 30px;
  font-weight: 700;
  line-height: 1.3333333333;
}

.guide__item-description {
  margin-bottom: 0;
}

@media (min-width: 768px) {
  .guide {
    margin-right: 0;
    margin-left: 0;
  }
  .guide__item-title {
    font-size: 40px;
    line-height: 1.2;
  }
}

.nav {
  display: none;
}

.nav-active .nav {
  position: absolute;
  top: 100%;
  right: -15px;
  left: -15px;
  display: block;
  overflow: auto;
  height: calc(100vh - 60px);
  margin-top: 1px;
  padding-top: 20px;
  background-color: #ffffff;
}

.nav__list {
  padding: 0;
  list-style: none;
}

.nav__item {
  position: relative;
}

.nav__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px 17px;
  white-space: nowrap;
  text-decoration: none;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: inherit;
  font-size: 13px;
  line-height: 1.2307692308;

  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav__link:focus, .nav__link:hover {
  color: #d23b40;
}

.nav__link-icon {
  display: none;
}

@media (min-width: 576px) {
  .nav-active .nav {
    left: auto;
    width: 320px;
  }
}

@media (min-width: 1024px) {
  .nav {
    display: block;
    margin-right: 0;
    margin-left: 0;
    padding-top: 0;
  }
  .nav-active .nav {
    position: relative;
    top: 0;
    right: 0;
    left: 0;
    overflow: visible;
    width: auto;
    height: auto;
    margin-top: 0;
    padding-top: 0;
    background: none;
  }
  .nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .nav__link {
    padding: 18px 20px;

    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .nav__link-icon {
    display: inline;
    padding-left: 7px;
    font-size: 6px;
  }
  .nav__subnav {
    display: none;
    padding-left: 0;
  }
  .nav__item:hover .nav__subnav,
  .nav__item:focus .nav__subnav {
    display: block;
  }
}

.nav-toggle {
  z-index: 13;
  width: 40px;
  height: 40px;
  padding: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  border: 1px solid #c2d1d6;
  border-radius: 3px;
  outline: none;
  background-color: transparent;
  font-size: 32px;

  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.nav-toggle:focus, .nav-toggle:active, .nav-toggle:hover {
  outline: 0;
}

.nav-toggle span {
  display: block;
}

.nav-toggle__bottom, .nav-toggle__middle, .nav-toggle__top {
  margin-right: auto;
  margin-left: auto;
  background: #191d1f;

  will-change: transform;
}

.nav-toggle__top {
  top: -0.14em;
}

.nav-toggle__middle, .nav-toggle__top {
  position: relative;
  display: block;
  width: 0.7em;
  height: 0.08em;
  -webkit-transition: top 0.2s, -webkit-transform 0.5s;
          transition: top 0.2s, -webkit-transform 0.5s;
          transition: transform 0.5s, top 0.2s;
          transition: transform 0.5s, top 0.2s, -webkit-transform 0.5s;
  border: none;
  border-radius: 0.08em;
}

.nav-toggle__middle {
  top: 0;
}

.nav-toggle__bottom {
  position: relative;
  top: 0.14em;
  display: block;
  width: 0.7em;
  height: 0.08em;
  -webkit-transition: -webkit-transform 0.5s;
          transition: -webkit-transform 0.5s;
          transition:         transform 0.5s;
          transition:         transform 0.5s, -webkit-transform 0.5s;
  border: none;
  border-radius: 0.08em;
}

.nav-active .nav-toggle__top {
  top: 0.09em;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.nav-active .nav-toggle__middle {
  top: 0.02em;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.nav-active .nav-toggle__bottom {
  top: 0;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  opacity: 0;
}

@media (min-width: 1024px) {
  .nav-toggle {
    display: none;
  }
}

.subnav {
  padding: 0;
  padding-left: 20px;
  list-style: none;
}

.subnav__link {
  display: block;
  padding: 9px 15px;
  white-space: nowrap;
  text-decoration: none;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: inherit;
  font-size: 13px;
  line-height: 1.2307692308;
}

.subnav__link:focus, .subnav__link:hover {
  color: #d23b40;
}

@media (min-width: 1024px) {
  .subnav {
    position: absolute;
    top: 100%;
    left: 50%;
    min-width: 200px;
    padding-top: 20px;
    padding-bottom: 22px;
    padding-left: 0;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    text-align: center;
    background-color: #ffffff;
    -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
            box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
  }
}

.header {
  position: relative;
  z-index: 10;
  margin-bottom: 40px;
  background-color: #ffffff;
  -webkit-box-shadow: 0 5px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0 5px 4px rgba(0, 0, 0, 0.15);
}

.header__content {
  position: relative;
  z-index: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 60px;
  padding-right: 50px;

  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__nav-toggle {
  position: absolute;
  top: 10px;
  right: 0;
}

.header__logo {
  margin-left: -14px;
  -webkit-transition: 0.2s;
          transition: 0.2s;
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
}

.header__logo-img {
  display: block;
}

.header__personal {
  font-size: 13px;
  line-height: 1.2307692308;
}

.header__personal-link {
  text-decoration: none;
  color: #d23b40;
}

.header__personal-icon {
  display: block;
  width: 40px;
  height: 40px;
  text-align: center;
  color: #191d1f;
  border: 1px solid #c2d1d6;
  border-radius: 3px;
  font-size: 18px;
  line-height: 38px;
}

.header__personal-text {
  display: none;
}

@media (min-width: 1024px) {
  .header {
    margin-bottom: 100px;
  }
  .header__content {
    height: 100px;
    padding-right: 0;
  }
  .header__logo {
    margin-left: 0;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  .header__personal-icon {
    display: none;
  }
  .header__personal-text {
    display: block;
  }
}

.footer {
  position: relative;
  z-index: 1;
  text-align: center;
  color: #ffffff;
  background-color: #000000;
}

.footer:before {
  position: absolute;
  z-index: -2;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: "";
  opacity: 0.4;
  background: url(../i/footer-bg.jpg) 50% no-repeat;
  background-size: cover;
}

.footer:after {
  position: absolute;
  z-index: -1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: "";
  background: url(../i/footer-bg-2.png) 0 0 repeat;
}

.footer__col-last {
  margin-top: 20px;
}

.footer__col-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer__top {
  padding-top: 61px;
  padding-bottom: 50px;
}

.footer__top-img {
  display: none;
}

.footer__title {
  font-size: 30px;
  line-height: 1.3333333333;
}

.footer__ask-button {
  min-width: 220px;
}

.footer__bottom {
  overflow: hidden;
  padding-top: 35px;
  padding-bottom: 35px;
  border-top: 1px solid #ffffff;
}

.footer__copy {
  font-size: 18px;
  line-height: 1.3333333333;
}

.footer__button {
  margin: 20px 38px;
}

.footer__pixel-plus {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 200px;
  margin: 0 auto;
  text-align: left;

  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__pixel-plus-img {
  width: 27px;
  height: 30px;
  margin-right: 10px;
}

.footer__pixel-plus-text {
  font-size: 13px;
  line-height: 1.2307692308;
}

.footer__pixel-plus a {
  color: inherit;
}

.footer__pixel-plus a:focus, .footer__pixel-plus a:hover {
  border-bottom: 1px solid;
}

@media (min-width: 576px) {
  .footer__col-last {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer__col-social {
    margin-top: 20px;
  }
}

@media (min-width: 768px) {
  .footer__top {
    text-align: left;
  }
}

@media (min-width: 1024px) {
  .footer {
    text-align: left;
  }
  .footer__col-last {
    margin-top: 0;

    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .footer__col-social {
    margin-top: 0;
  }
  .footer__top {
    position: relative;
  }
  .footer__top-img {
    position: absolute;
    z-index: 0;
    right: 175px;
    bottom: 0;
    display: block;
  }
  .footer__top .col-xs-12 {
    z-index: 1;
  }
  .footer__button {
    margin-top: 0;
    margin-bottom: 0;
  }
  .footer__pixel-plus {
    margin-right: 0;
    margin-left: 0;
  }
}

.article > h1 {
  margin-bottom: 28px;
}

.article > h2:not(:first-child) {
  margin-top: 63px;
}

.article > h3:not(:first-child) {
  margin-top: 53px;
}

.article ul:not(.files__list) {
  padding: 0;
  list-style: none;
}

.article ul:not(.files__list) > li {
  position: relative;
  margin-bottom: 1.4375em;
  padding-left: 32px;
}

.article ul:not(.files__list) > li:before {
  position: absolute;
  left: 0;
  content: "•";
}

.article ol {
  padding: 0;
  list-style: none;
  counter-reset: ol-counter;
}

.article ol > li {
  position: relative;
  margin-bottom: 1.75em;
  padding-left: 40px;
}

.article ol > li:before {
  position: absolute;
  top: 3px;
  left: 0;
  width: 25px;
  height: 25px;
  content: "0" counter(ol-counter);
  counter-increment: ol-counter;
  color: #ffffff;
  border-radius: 50%;
  background-color: #000000;
  font-size: 16px;
  font-weight: 900;
  line-height: 1.5;
}

.article p a,
.article li a {
  text-decoration: underline;
}

.article b,
.article strong {
  font-weight: 900;
}

.article .img-left, .article .img-right {
  display: block;
  margin-top: 30px;
  margin-bottom: 40px;
}

@media (min-width: 768px) {
  .article .img-left, .article .img-right {
    max-width: 48.42%;
  }
  .article .img-left {
    float: left;
    margin-right: 30px;
  }
  .article .img-right {
    float: right;
    margin-left: 30px;
  }
}

@media (min-width: 1024px) {
  .article .img-left, .article .img-right {
    max-width: 460px;
  }
}

.contacts {
  margin-top: -33px;
}

.contacts__description {
  margin-bottom: 44px;
}

.contacts__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
          flex-direction: column;

  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contacts__section {
  margin-bottom: 40px;
  font-size: 18px;
  line-height: 1.3333333333;
}

.contacts__section:last-child {
  margin-bottom: 0;
}

.contacts__section-title {
  margin-bottom: 17px;
  font-weight: 400;
}

.contacts__list {
  padding: 0;
  list-style: none;
}

.contacts__list li {
  margin-bottom: 18px;
}

.contacts__list li:last-child {
  margin-bottom: 0;
}

.contacts__map {
  height: 280px;
  margin-top: 40px;
}

@media (min-width: 768px) {
  .contacts__map {
    margin-top: 0;
  }
}

.content {
  padding-bottom: 170px;
}

@media (min-width: 1024px) {
  .content {
    padding-bottom: 140px;
  }
}

.dropdown {
  position: relative;
}

.dropdown__toggle {
  display: block;
  height: 50px;
  white-space: nowrap;
  text-decoration: none;
  color: #d23b40;
  font-size: 18px;
  font-weight: 700;
  line-height: 2.7777777778;
}

.dropdown__toggle:after {
  display: inline-block;
  margin-left: 7px;
  vertical-align: middle;
  font-size: 7px;
}

.dropdown__toggle:focus, .dropdown__toggle:hover {
  color: #d23b40;
}

.dropdown__list {
  position: absolute;
  z-index: 10;
  top: 100%;
  right: 0;
  left: 0;
  display: none;
  min-width: 220px;
  padding: 0;
  padding-top: 5px;
  padding-bottom: 10px;
  list-style: none;
  border: 1px solid rgba(194, 209, 214, 0.5);
  background-color: #ffffff;
  -webkit-box-shadow: 0 5px 4px rgba(194, 209, 214, 0.15);
          box-shadow: 0 5px 4px rgba(194, 209, 214, 0.15);
}

.dropdown__link {
  display: block;
  padding: 5px 15px;
  text-decoration: none;
  color: inherit;
}

.dropdown__link.active {
  color: #d23b40;
}

.dropdown__link:focus, .dropdown__link:hover {
  color: inherit;
  background-color: rgba(194, 209, 214, 0.1);
}

.files__list {
  padding: 0;
  list-style: none;
}

.files__item {
  margin-bottom: 24px;
}

.files__item:last-child {
  margin-bottom: 0;
}

.files__link {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none !important;
  color: #191d1f;

  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.files__link:focus, .files__link:hover {
  color: #191d1f;
}

.files__link:focus .files__icon_default, .files__link:hover .files__icon_default {
  visibility: hidden;
  opacity: 0;
}

.files__link:focus .files__icon_hover, .files__link:hover .files__icon_hover {
  visibility: visible;
  opacity: 1;
}

.files__icon {
  margin-right: 14px;
  color: #d23b40;
  font-size: 40px;
}

.files__icon_hover {
  position: absolute;
  left: 0;
  visibility: hidden;
  -webkit-transition: 0.2s;
          transition: 0.2s;
  opacity: 0;
}

.files__name {
  color: #d23b40;
  font-weight: 700;
}

.files__info {
  text-transform: uppercase;
}

.filter {
  margin-bottom: 25px;
}

.filter__content {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #ffffff;
}

.filter__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: 0.2s;
          transition: 0.2s;

  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 575px) {
  .filter__container {
    padding-right: 0;
    padding-left: 0;
  }
}

.filter__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-right: -15px;
  margin-left: -15px;

  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.filter__item {
  margin-right: 15px;
  margin-left: 15px;
}

.filter__button {
  margin: 10px;
  padding-right: 20px;
  padding-left: 20px;
  font-weight: 700;
}

.filter__top {
  visibility: hidden;
  width: 40px;
  height: 40px;
  margin-right: -50px;
  margin-left: 10px;
  padding: 0;
  -webkit-transition: 0.2s;
          transition: 0.2s;
  -webkit-transform: translateX(150%);
          transform: translateX(150%);
  opacity: 0;
  border-radius: 50%;
}

.filter__top-icon {
  text-align: center;
  font-size: 16px;
  line-height: 36px;
}

.filter.fixed .dropdown__toggle {
  height: 40px;
  font-size: 16px;
  line-height: 2.5;
}

.filter.fixed .filter__content {
  position: fixed;
  z-index: 50;
  top: 0;
  right: 0;
  left: 0;
  padding-top: 15px;
  padding-bottom: 15px;
  -webkit-box-shadow: 0 5px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0 5px 4px rgba(0, 0, 0, 0.15);
}

.filter.fixed .filter__button {
  height: 40px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 16px;
}

.filter.fixed .filter__top {
  visibility: visible;
  margin-right: 0;
  -webkit-transform: translateX(0);
          transform: translateX(0);
  opacity: 1;
}

@media (min-width: 576px) {
  .filter__container {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .filter__list {
    width: auto;

    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .filter__button {
    margin: 0;
  }
  .filter__top {
    margin-right: 0;
    -webkit-transform: none;
            transform: none;
  }
  .filter.fixed .filter__container {
    position: relative;
    padding-right: 70px;
  }
  .filter__top {
    position: absolute;
    top: 50%;
    right: 15px;
    margin-top: -20px;
    -webkit-transform: none;
            transform: none;
  }
}

@media (min-width: 768px) {
  .filter__button {
    width: 264px;
  }
}

.hero {
  margin-top: -50px;
  margin-bottom: 25px;
  padding-top: 36px;
  text-align: center;
  background-color: rgba(191, 209, 215, 0.5);
}

.hero__container {
  position: relative;
}

.hero__content {
  padding-bottom: 40px;
}

.hero__text {
  font-size: 30px;
  line-height: 1.3333333333;
}

.hero__text a {
  color: #d23b40;
}

.hero__text a:focus, .hero__text a:hover {
  color: #d23b40;
}

.hero__action {
  margin-right: -20px;
  margin-left: -10px;
  padding-top: 14px;

  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hero__button {
  min-width: 220px;
  margin: 10px;
}

.hero__link {
  margin: 10px 20px;
  white-space: nowrap;
  color: #d23b40;
  font-size: 18px;
  line-height: 1.3333333333;
}

.hero__link:focus, .hero__link:hover {
  color: #d23b40;
}

.hero__link-icon {
  display: inline-block;
  width: 50px;
  height: 50px;
  margin-right: 11px;
  padding-left: 6px;
  text-align: center;
  vertical-align: middle;
  border: 2px solid #d23b40;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.5);
  font-size: 16px;
  line-height: 46px;
}

.hero__media {
  max-width: 382px;
  margin-right: auto;
  margin-left: auto;
}

.hero__media-img {
  display: block;
}

.hero__toggle {
  position: absolute;
  top: 0;
  right: 8px;
  width: 50px;
  height: 50px;
  text-align: center;
  color: #ffffff;
  border-radius: 50%;
  background-color: rgba(25, 29, 31, 0.5);
  font-size: 16px;
  line-height: 50px;
}

.hero__toggle:focus, .hero__toggle:hover {
  color: #ffffff;
  background-color: rgba(25, 29, 31, 0.8);
}

.hero.collapsed {
  display: none;
}

@media (min-width: 768px) {
  .hero {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: left;

    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .hero__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;

    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .hero__content {
    max-width: 63.7%;
    padding-bottom: 60px;

    -webkit-box-flex: 0;
        -ms-flex: 0 0 63.7%;
            flex: 0 0 63.7%;
  }
  .hero__text {
    margin-bottom: 62px;
    font-size: 42px;
    line-height: 1.3095238095;
  }
  .hero__action {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .hero__media {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-right: 0;

    -webkit-box-flex: 0;
        -ms-flex: 0 0 382px;
            flex: 0 0 382px;
    -ms-flex-item-align: end;
        align-self: flex-end;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .hero__media-img {
    max-width: 362px;
  }
}

@media (min-width: 1024px) {
  .hero {
    margin-top: -110px;
  }
  .hero.collapsed {
    display: block;
  }
  .hero.collapsed .hero__content {
    max-width: 100%;
    padding-bottom: 40px;

    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1 1;
  }
  .hero.collapsed .hero__text {
    display: none;
  }
  .hero.collapsed .hero__media {
    display: none;
  }
  .hero.collapsed .hero__toggle {
    top: 50%;
    margin-top: -38px;
    background-color: #191d1f;
    font-size: 12px;
  }
  .hero.collapsed .hero__toggle:before {
    content: "\e900";
  }
}

.info__content {
  display: none;
  padding: 0 30px 27px;
  border: 2px solid rgba(36, 99, 137, 0.2);
  border-radius: 25px;
  background: #ffffff;
  -webkit-box-shadow: 0 0 30px rgba(194, 209, 214, 0.5);
          box-shadow: 0 0 30px rgba(194, 209, 214, 0.5);
}

.info__header {
  margin-right: -10px;
  margin-bottom: 24px;
  margin-left: -10px;
  padding-top: 10px;
  padding-bottom: 13px;
  cursor: pointer;
  text-align: center;
  color: #246389;
  border-bottom: 1px solid #246389;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.3333333333;
}

.info__header b {
  font-weight: 900;
}

.info__list {
  margin-top: -12px;
  padding: 0;
  list-style: none;
}

.info__list-item {
  margin-bottom: 12px;
}

.info__list-item:last-child {
  margin-bottom: 0;
}

.info__list a {
  text-decoration: underline;
}

.info.open .info__content {
  display: block;
}

@media (min-width: 1024px) {
  .info {
    position: relative;
  }
  .info__content {
    position: absolute;
    z-index: -1;
    top: 0;
    right: 7px;
    left: 7px;
    display: block;
    visibility: hidden;
    height: 0;
    -webkit-transition: 0.2s ease-in-out;
            transition: 0.2s ease-in-out;
    opacity: 0;
  }
  .info.open .info__toggle {
    visibility: hidden;
    opacity: 0;
  }
  .info.open .info__content {
    z-index: 10;
    visibility: visible;
    height: auto;
    opacity: 1;
  }
}

.login__content {
  margin-top: -30px;
}

.login__col {
  max-width: 330px;
}

.modal {
  position: relative;
  width: 100%;
  max-width: 500px;
  margin: auto;
  text-align: center;
  background-color: #ffffff;
}

.modal__content {
  width: 100%;
  max-width: 320px;
  margin: auto;
  padding: 134px 10px 96px;
}

.modal__title {
  margin-bottom: 37px;
  font-size: 30px;
  line-height: 1.3333333333;
}

.modal__notes {
  padding-left: 60px;
  text-align: left;
  font-size: 13px;
  line-height: 1.2307692308;
}

.modal__notes a {
  text-decoration: none;
  text-decoration: underline;
  color: inherit;
}

.modal__notes a:focus, .modal__notes a:hover {
  text-decoration: underline;
  color: #d23b40;
}

.modal__notes .custom-control {
  margin-left: -25px;
}

.modal .mfp-close {
  width: 70px;
  height: 60px;
  text-indent: 0;
  color: #d23b40;
  background: none !important;
  font-size: 20px;
}

.modal_lg {
  max-width: 750px;
}

.modal_lg .modal__content {
  max-width: 476px;
  padding-top: 99px;
  padding-bottom: 124px;
}

.personal__content {
  margin-top: -30px;
}

.personal__rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: -40px;
  margin-bottom: 21px;
  margin-left: -40px;

  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.personal__rating-item {
  margin-right: 40px;
  margin-left: 40px;
}

.personal__rating-title {
  margin-bottom: 0;
  vertical-align: middle;
  font-weight: 400;
}

.personal__rating-number {
  margin-left: 22px;
  vertical-align: middle;
  font-size: 30px;
  font-weight: 700;
  line-height: 1.3333333333;
}

.personal__rating-link {
  color: #d23b40;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.3333333333;
}

.personal__nav {
  margin-right: -19px;
  margin-bottom: 56px;
  margin-left: -19px;
  padding: 0;
  list-style: none;
}

.personal__nav-item {
  display: inline-block;
  margin: 10px 19px;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.3333333333;
}

.personal__nav-link {
  white-space: nowrap;
}

@media (min-width: 1024px) {
  .personal__col-about {
    padding-right: 33px;
    padding-left: 45px;
  }
}

.rating-list {
  padding: 0;
  list-style: none;
  font-size: 13px;
  line-height: 1.2307692308;
}

.rating-list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 10px;

  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.rating-list__item:last-child {
  margin-bottom: 0;
}

.rating-list__text {
  padding-right: 10px;

  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1 1;
}

.rating-list__number {
  font-weight: 700;
}

.registration__content {
  margin-top: -32px;
}

.registration__title {
  margin-bottom: 39px;
}

@media (min-width: 576px) {
  .registration__col {
    max-width: 530px;

    -webkit-box-flex: 0;
        -ms-flex: 0 0 530px;
            flex: 0 0 530px;
  }
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: -20px;
  margin-left: -20px;
  padding: 0;
  list-style: none;

  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.social__item {
  margin-right: 20px;
  margin-left: 20px;
}

.social__link {
  display: block;
  text-decoration: none;
  color: inherit;
  font-size: 30px;
}

.social__link.icon-vkontakte {
  font-size: 40px;
}

.social__link.icon-youtube {
  font-size: 36px;
}

.specialist__header {
  margin-top: 84px;
  margin-bottom: 80px;
  padding-bottom: 76px;
  border-bottom: 1px solid #c2d1d6;
}

.specialist__header:last-child {
  margin-bottom: 0;
}

.specialist__img-placeholder {
  display: block;
  margin-bottom: 20px;
}

.specialist__img {
  display: block;
  width: 264px;
  height: 264px;
  border-radius: 50%;
}

.specialist__location {
  margin-bottom: 9px;
  line-height: 1.3125;
}

.specialist__location:last-child {
  margin-bottom: 0;
}

.specialist__location a {
  text-decoration: none;
}

.specialist__work {
  margin-bottom: 9px;
  line-height: 1.3125;
}

.specialist__work:last-child {
  margin-bottom: 0;
}

.specialist__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
          flex-direction: column;
  margin-top: 30px;
  margin-right: -7px;
  margin-bottom: 30px;
  margin-left: -7px;

  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.specialist__info:last-child {
  margin-bottom: 0;
}

.specialist__info-toggle {
  width: 280px;
  margin: 10px 7px;
  padding-right: 0;
  padding-left: 0;
  font-weight: 700;
}

.specialist__info-toggle b {
  font-weight: 900;
}

.specialist__info-link {
  margin: 10px 7px;
  white-space: nowrap;
  font-weight: 700;
}

@media (min-width: 576px) {
  .specialist__info {
            flex-direction: row;

    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

@media (min-width: 768px) {
  .specialist__header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .specialist__img-placeholder {
    margin-right: 30px;
    margin-bottom: 0;
  }
  .specialist__content {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1 1;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .specialist__img {
    width: 166px;
    height: 166px;
  }
}

@media (min-width: 1024px) {
  .specialist__img-placeholder {
    max-width: 264px;

    -webkit-box-flex: 0;
        -ms-flex: 0 0 264px;
            flex: 0 0 264px;
  }
}

@media (min-width: 1176px) {
  .specialist__info {
    margin-right: -80px;

    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}

.specialists__item {
  position: relative;
  min-height: 300px;
  margin-bottom: 30px;
  border-radius: 3px;
  -webkit-box-shadow: 0 0 30px rgba(194, 209, 214, 0.5);
          box-shadow: 0 0 30px rgba(194, 209, 214, 0.5);
}

.specialists__item:last-child {
  margin-bottom: 0;
}

.specialists__img-placeholder {
  display: block;
  padding: 20px 15px 5px;
}

.specialists__img {
  display: block;
  width: 166px;
  height: 166px;
  border-radius: 50%;
}

.specialists__content {
  padding: 15px 15px 30px;
}

.specialists__name {
  margin-bottom: 12px;
}

.specialists__name a {
  color: #191d1f;
}

.specialists__info {
  margin-bottom: 12px;
}

.specialists__info:last-child {
  margin-bottom: 0;
}

.specialists__info-item {
  margin-bottom: 7px;
}

.specialists__info-item:last-child {
  margin-bottom: 0;
}

.specialists__text {
  margin-bottom: 28px;
}

.specialists__text:last-child {
  margin-bottom: 0;
}

.specialists__links-item {
  margin-right: 8px;
  color: #d23b40;
}

.specialists__rating {
  padding: 20px 15px;
  border-radius: 0 0 3px 3px;
  background-color: rgba(194, 209, 214, 0.1);
  font-size: 13px;
  line-height: 1.2307692308;
}

.specialists__rating-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 13px;
  padding-bottom: 16px;
  border-bottom: 1px solid #c2d1d6;

  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.specialists__rating-title {
  margin-bottom: 2px;
  text-transform: none;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.2307692308;
}

.specialists__rating-value {
  text-transform: none;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.3333333333;
}

.specialists__delete {
  position: absolute;
  top: -15px;
  right: -15px;
  width: 30px;
  height: 30px;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
  border-radius: 50%;
  background-color: #d23b40;
  font-size: 11px;
  line-height: 30px;
}

.specialists__delete:focus, .specialists__delete:hover {
  color: #ffffff;
}

@media (min-width: 768px) {
  .specialists__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .specialists__content {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1 1;
  }
  .specialists__rating {
    border-radius: 0 3px 3px 0;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .specialists__img {
    width: 100px;
    height: 100px;
  }
  .specialists__rating {
    width: 27%;
  }
}

@media (min-width: 1024px) {
  .specialists__img-placeholder {
    padding: 45px 65px;
  }
  .specialists__content {
    padding: 39px 38px 50px 13px;
  }
  .specialists__rating {
    width: 279px;
    padding: 35px 30px;
  }
}

@media (min-width: 1280px) {
  .specialists__list {
    margin-right: -15px;
    margin-left: -15px;
  }
}

.support__content {
  margin-top: -32px;
}

.support__description {
  margin-bottom: 40px;
}

.support__col {
  max-width: 392px;
}

.tenders__title {
  margin-bottom: 50px;
}

.tenders__content {
  margin-top: -32px;
}

.tenders__alert {
  margin-top: 50px;
  margin-bottom: 40px;
}

.tenders__form {
  max-width: 530px;
  margin-top: 59px;
}

.tenders__list {
  padding: 0;
  list-style: none;
}

.tenders__item {
  margin-bottom: 50px;
  padding-bottom: 46px;
  border-bottom: 1px solid #c2d1d6;
}

.tenders__item:last-child {
  margin-bottom: 0;
}

.tenders__item-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.tenders__item-date {
  margin-right: 27px;
  color: #000000;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.3333333333;
}

.tenders__item-badge {
  min-width: 160px;
}

.tenders__item-text {
  margin-top: 27px;
}

.tenders__item-work {
  margin-top: 28px;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.3333333333;
}

.tenders__item-work a {
  text-decoration: none;
}

.tenders__item-price {
  margin-top: 26px;
  color: #000000;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.3333333333;
}

@media (min-width: 576px) {
  .tenders__item-badge {
    min-width: 180px;
  }
}

@media (min-width: 768px) {
  .tenders__col {
    max-width: 645px;

    -webkit-box-flex: 0;
        -ms-flex: 0 0 645px;
            flex: 0 0 645px;
  }
}

.video {
  position: relative;
  overflow: hidden;
  /* 16:9 */
  height: 0;
  margin-top: 50px;
  margin-bottom: 50px;
  padding-bottom: 56.25%;
}

.video iframe,
.video img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.video img {
  margin: 0;
}

.video__button {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100px;
  height: 100px;
  margin-top: -50px;
  margin-left: -50px;
  padding-left: 6px;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
  border: 2px solid #ffffff;
  border-radius: 50%;
  background-color: rgba(13, 29, 35, 0.5);
  font-size: 32px;
  line-height: 96px;
}

.work {
  margin-bottom: -40px;
}

.work__title {
  margin-bottom: 50px;
}

.work__list {
  margin-right: -13px;
  margin-left: -12px;
  padding: 0;
  list-style: none;
}

.work__item {
  margin-bottom: 37px;
  padding-right: 13px;
  padding-left: 12px;
}

.work__item-img-placeholder {
  display: block;
  margin-bottom: 20px;
}

.work__item-img {
  display: block;
  width: 100%;
}

.work__item-title {
  line-height: 1.3125;
}

@media (min-width: 576px) {
  .work__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .work__item {
    max-width: 50%;

    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
  }
}

@media (min-width: 768px) {
  .work__item {
    max-width: 33.33%;

    -webkit-box-flex: 0;
        -ms-flex: 0 0 33.33%;
            flex: 0 0 33.33%;
  }
}
/*# sourceMappingURL=main.css.map */