<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <title>Биржа Киноделов</title>

  <link href="assets/css/main.css" rel="stylesheet">
  <link href="assets/js/vendor/magnific-popup/magnific-popup.css" rel="stylesheet">
  {% block styles %}{% endblock %}

  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]> <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script> <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script> <![endif]-->
  {% block headerScripts %}{% endblock %}
</head>
<body class="body">
  {% block body %}
  {% block pageContainer %}
  <div class="page">
    {% block pageHeader %}
    <header class="header">
      <div class="container">
        <div class="header__content">
          <div class="header__logo">
            <a href="index.html" class="header__logo-link">
              <img src="assets/i/logo.svg" alt="Биржа Киноделов" class="header__logo-img" width="143" height="58">
            </a>
          </div>
          <nav class="header__nav nav">
            {% include 'partials/_nav.twig' with {'nav' : nav} %}
          </nav>
          <div class="header__personal">
            <a href="personal.html" class="header__personal-link">
              <i class="header__personal-icon icon-user"></i>
              <span class="header__personal-text">Личный кабинет</span>
            </a>
          </div>
          <button class="header__nav-toggle nav-toggle" title="Меню" data-nav-trigger="data-nav-trigger">
            <span class="nav-toggle__top"></span>
            <span class="nav-toggle__middle"></span>
            <span class="nav-toggle__bottom"></span>
          </button>
        </div>
      </div><!-- /.container -->
    </header><!-- /.header -->
    {% endblock %}
    {% block hero %}{% endblock %}
    <main class="content">
      {% block content %}{% endblock %}
    </main><!-- /.main -->
  </div><!-- /.page -->
  {% endblock %}
  {% block pageFooter %}
  <footer class="footer">
    <div class="container">
      <div class="footer__top row row-md-bottom">
        <div class="col-xs-12 col-md-8 col-lg-6">
          <div class="footer__title">
            Остались вопросы?
            <br>Да просто напишите нам письмо
          </div>
        </div>
        <div class="col-xs-12 col-md-4 col-lg-6 footer__col-last">
          <a href="" class="footer__ask-button button button_primary">Задать вопрос</a>
        </div>
        <img src="assets/i/footer-person.png" alt="" class="footer__top-img">
      </div>
      <div class="footer__bottom">
        <div class="row row-md-center">
          <div class="col-xs-12 col-lg-3">
            <address class="footer__copy">© 2017 Биржа Киноделов. <br>Хохлов Собатовский</address>
          </div>
          <div class="col-xs-12 col-lg-6 footer__col-social">
            <a href="http://www.khsfilms.ru" class="footer__button button button_white button_sm" traget="_blank">www.khsfilms.ru</a>
            <ul class="footer__social social">
              <li class="social__item">
                <a href="" class="social__link icon-facebook" title="Биржа Киноделов в Facebook"></a>
              </li>
              <li class="social__item">
                <a href="" class="social__link icon-vkontakte" title="Биржа Киноделов Вконтакте"></a>
              </li>
              <li class="social__item">
                <a href="" class="social__link icon-youtube" title="Биржа Киноделов в YouTube"></a>
              </li>
              <li class="social__item">
                <a href="" class="social__link icon-instagram" title="Биржа Киноделов в Instagram"></a>
              </li>
            </ul>
          </div>
          <div class="col-xs-12 col-lg-3 footer__col-last">
            <div class="footer__pixel-plus">
              <img src="assets/i/logo-pixel.svg" class="footer__pixel-plus-img">
              <span class="footer__pixel-plus-text">
                Создание сайта — компания <a href="">«Пиксель Плюс»</a>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- /.container -->
  </footer>
  <!-- /.footer -->
  {% endblock %}

  <form id="login-form" action="" class="modal mfp-hide">
    <div class="modal__content">
      <h2 class="modal__title">Авторизация</h2>
      <div class="form__group">
        <label for="login" class="form__label">Логин</label>
        <input id="login" name="login" placeholder="Логин" required="" type="text" class="form__control">
      </div>
      <div class="form__group">
        <label for="password" class="form__label">Пароль</label>
        <input id="password" name="password" placeholder="Пароль" required="" type="password" class="form__control">
      </div>
      <div class="form__submit form__submit_center">
        <input type="submit" class="button button_primary" value="Отправить">
        <a href="#" class="form__submit-link">Забыли пароль?</a>
      </div>
    </div>
  </form>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
  <script src="assets/js/vendor/magnific-popup/jquery.magnific-popup.min.js"></script>
  <script src="assets/js/vendor/jquery.maskedinput.js"></script>
  <script src="assets/js/main.js"></script>

  {% block scripts %}{% endblock %}
  {% endblock %}
</body>
</html>