{% extends '_layout.twig' %}

{% block headerScripts %}
  <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU"></script>
{% endblock %}

{% block content %}
      <div class="container container_sm">
        <h1 class="text-uppercase">КОНТАКТНАЯ ИНФОРМАЦИЯ</h1>
      </div>
      <div class="contacts">
        <div class="container container_sm">
          <p class="contacts__description">Мы — профессиональная команда киноделов, специализирующаяся на создании видеорекламы и корпоративных видеороликов. И наша работа - больше, чем просто видео, ведь каждый участник “Хохлов Сабатовский” был воспитан на основах кинопроизводства и “обкатан” на просторах бизнеса.</p>
          <div class="row">
            <div class=" contacts__content col-xs-12 col-md-6">
              <div class="contacts__section">
                <h2 class="contacts__section-title">Связаться с нами</h2>
                <ul class="contacts__list">
                  <li><a href="tel:+74951552982">+7 (495) 155 29 82</a></li>
                  <li><a href="mailto:sales@khsfilms.ru" class="link-underlined">sales@khsfilms.ru</a></li>
                </ul>
              </div>

              <div class="contacts__section">
                <h2 class="contacts__section-title">Заезжайте в гости</h2>
                <p>г. Москва, г.Зеленоград пр. № 4922, 4, строен. 4</p>
              </div>
            </div>
            <div class="col-xs-12 col-md-6">
              <div class="contacts__map" id="map"></div>
            </div>
          </div>
        </div>
      <div>
{% endblock %}
{% block scripts %}
  <script>
    // Map
    ymaps.ready(function () {
      var myMap = new ymaps.Map('map', {
        center: [55.983756, 37.219888],
        zoom: 15
      });

      myMap.behaviors.disable('scrollZoom');
    });
  </script>
{% endblock %}
