{% extends '_layout.twig' %}

{% block content %}
      <div class="container container_sm">
        <div class="back">
          <a href="personal.html" class="back__link"><i class="back__link-icon icon-caret-left"></i>Вернуться в личный кабинет</a>
        </div>
        <h1 class="text-uppercase">Избранное</h1>
      </div>
      <div class="specialists">
        <div class="container">
          {% include 'partials/_fav-list.twig' with {'specialists':specialists} %}
        </div>
      </div>
{% endblock %}