{% extends '_layout.twig' %}

{% block content %}
      <div class="container container_sm">
        <h1 class="text-uppercase">БАЗА ЗНАНИЙ</h1>
      </div>
      <div class="guide">
        <div class="container container_sm">
          {% include 'partials/_guide-list.twig' with {'guide':guide} %}
        </div>
      <div>
{% endblock %}