{% extends '_layout.twig' %}

{% block hero %}
      <div class="hero" data-hero>
        <div class="hero__container container">
          <div class="hero__content">
            <div class="hero__text">
              Найдите кинодела, который <a href="#filter" data-id="filter-2-4" class="link-pseudo" data-filter-toggle>снимает</a>, <a href="#filter" data-id="filter-2-2" class="link-pseudo" data-filter-toggle>монтирует</a>, <a href="#filter" data-id="filter-2-5" class="link-pseudo" data-filter-toggle>делает графику</a> или разместите свой <a href="tenders-form.html" class="link-underlined">тендер</a>
            </div>
            <div class="hero__action action">
              <a href="tenders-form.html" class="hero__button button button_outline_primary">Разместить тендер</a>
              <a href="#" class="hero__button button button_primary">Разместить анкету</a>
              <a href="https://www.youtube.com/watch?v=Du4V2R6syWA" class="hero__link" data-video>
                <i class="hero__link-icon icon-play"></i>
                Как это работает?
              </a>
            </div>
          </div>
          <div class="hero__media">
            <img src="assets/temp/hero.png" alt="" class="hero__media-img">
          </div>
          <a href="#" class="hero__toggle icon-close" title="Закрыть" data-hero-toggle></a>
        </div>
      </div>
{% endblock %}
{% block content %}
      <div class="specialists">
        <div class="specialists__filter filter" id="filter" data-filter>
          <div class="filter__content">
            <div class="filter__container container">
              {% include 'partials/_filter-list.twig' with {'filters':filters} %}
              <a href="tenders-form.html" class="filter__button button button_outline_primary button_md">Разместить тендер</a>
              <a href="#filter" class="filter__top button button_primary" title="Наверх"><i class="filter__top-icon icon-arrow-top"></i></a>
            </div>
          </div>
        </div>
        <div class="container">
          {% include 'partials/_specialists-list.twig' with {'specialists':specialists} %}
        </div>
      </div>
{% endblock %}