{% extends '_layout.twig' %}

{% block content %}
      <div class="container container_sm">
        <h1 class="text-uppercase">Вход в личный кабинет</h1>
      </div>
      <div class="login">
        <div class="container container_sm">
          <div class="login__content row">
            <div class="col-xs-12 login__col">
              <form action="" class="login__form form form_compact">
                <div class="form__group">
                  <div class="form__input">
                    <input type="text" class="form__control" name="login" placeholder="Логин">
                  </div>
                </div>
                <div class="form__group">
                  <div class="form__input">
                    <input type="password" class="form__control" name="password" placeholder="Пароль">
                  </div>
                </div>
                <div class="form__group form__group_option">
                  <a href="registration-customer.html"><b>Регистрация</b></a>
                </div>
                <div class="form__submit">
                  <input type="submit" class="button button_outline_primary button_md" value="Войти">
                </div>
              </form>
            </div>
          </div>
        </div>
      <div>
{% endblock %}