{% extends '_layout.twig' %}

{% block content %}
      <div class="container container_sm">
        <h1 class="text-uppercase">Личный кабинет</h1>
      </div>
      <div class="personal">
        <div class="container container_sm">
          <div class="personal__content">
            <div class="personal__rating">
              <div class="personal__rating-item">
                <span class="personal__rating-title h2">Мой рейтинг</span>
                <span class="personal__rating-number">9.3</span>
              </div>
              <div class="personal__rating-item">
                <a href="" class="personal__rating-link">Поднять мой рейтинг</a>
              </div>
            </div>
            <ul class="personal__nav">
              <li class="personal__nav-item">
                <a href="fav.html" class="personal__nav-link">Избранное</a>
              </li>
              <li class="personal__nav-item">
                <a href="tenders-list.html" class="personal__nav-link">Тендеры</a>
              </li>
            </ul>
            <form action="" class="personal__form form form_compact">
              <fieldset class="form__section">
                <h2 class="form__section-title">Мои данные</h2>
                <div class="row">
                  <div class="form__col col-xs-12 col-sm-10 col-md-8 col-lg-6">
                    <div class="form__group">
                      <div class="form__select form__control">
                        <select>
                          <option>Заказчик</option>
                          <option selected>Исполнитель</option>
                        </select>
                      </div>
                    </div>
                    <div class="form__group">
                      <div class="form__input">
                        <input type="text" class="form__control" name="firstname" value="Константин">
                      </div>
                    </div>
                    <div class="form__group">
                      <div class="form__input">
                        <input type="text" class="form__control" name="lastname" value="Константинопольский">
                      </div>
                    </div>
                    <div class="form__group">
                      <div class="form__input">
                        <input type="text" class="form__control" name="email" value="vnameprod@ort1.ru">
                      </div>
                    </div>
                    <div class="form__group">
                      <div class="form__input">
                        <input type="text" class="form__control" name="telegram" value="@supermaster">
                      </div>
                    </div>
                    <div class="form__group">
                      <div class="form__input">
                        <input type="text" class="form__control" name="vk" value="vk.com/reelmoviemaker">
                      </div>
                    </div>
                    <div class="form__group">
                      <div class="form__input">
                        <input type="text" class="form__control" name="facebook" value="facebook.com/user/reelmovemaker">
                      </div>
                    </div>
                    <div class="form__group">
                      <div class="form__input">
                        <input type="text" class="form__control js-tel" name="phone" placeholder="Телефон">
                      </div>
                    </div>
                  </div>
                  <div class="form__col col-xs-12 col-sm-10 col-md-8 col-lg-5 personal__col-about">
                    <div class="form__group">
                      <div class="form__input">
                        <textarea rows="4" class="form__control" name="about" placeholder="Коротко о себе"></textarea>
                      </div>
                    </div>
                  </div>
                </div>
              </fieldset>
              <div class="row">
                <div class="form__col col-xs-12 col-sm-10 col-md-8 col-lg-6">
                  <fieldset class="form__section">
                    <div class="form__group">
                      <div class="form__input">
                        <input type="password" class="form__control" name="password" placeholder="Введите пароль">
                      </div>
                    </div>
                    <div class="form__group">
                      <div class="form__input">
                        <input type="password" class="form__control" name="password_repeat" placeholder="Повторите пароль">
                      </div>
                    </div>
                  </fieldset>

                  <fieldset class="form__section">
                    <h2 class="form__section-title">Мои работы</h2>
                    <div class="form__group">
                      <label class="form__label" for="price_from">Стоимость</label>
                      <div class="form__group_inline">
                        <div class="form__controls">
                          <label class="form__label" for="price_from">От</label>
                          <input type="text" class="form__control form__control_sm" id="price_from">
                        </div>
                        <div class="form__controls">
                          <label class="form__label" for="price_to">До</label>
                          <input type="text" class="form__control form__control_sm" id="price_to">
                        </div>
                      </div>
                    </div>
                    <div class="form__group">
                      <p>Загрузите ваши работы. Для портфолио используйте сервисы Youtube и Vimeo. И просто укажите ID ваших роликов<p>
                    </div>
                    <div class="form__group">
                      <div class="form__input">
                        <input type="text" class="form__control" name="id1" placeholder="ID">
                      </div>
                    </div>
                    <div class="form__group">
                      <div class="form__input">
                        <input type="text" class="form__control" name="id2" placeholder="ID">
                      </div>
                    </div>
                    <div class="form__group">
                      <div class="form__input">
                        <input type="text" class="form__control" name="id3" placeholder="ID">
                      </div>
                    </div>
                    <div class="form__group">
                      <div class="form__input">
                        <input type="text" class="form__control" name="id4" placeholder="ID">
                      </div>
                    </div>
                    <div class="form__group form__group_option">
                      <a href=""><b>Загрузить еще</b></a>
                    </div>

                    <div class="form__submit">
                      <input type="submit" class="button button_outline_primary button_md" value="Сохранить">
                      <a href="" class="button button_primary button_md">Выйти</a>
                    </div>
                  </fieldset>
                </div>
              </div>
            </form>
          </div>
        </div>
      <div>
{% endblock %}