{% extends '_layout.twig' %}

{% block content %}
      <div class="container container_sm">
        <h1 class="text-uppercase">РЕГИСТРАЦИЯ</h1>
      </div>
      <div class="registration">
        <div class="container container_sm">
          <div class="registration__content row">
            <div class="col-xs-12 registration__col">
              <h2 class="registration__title">Укажите ваши данные</h2>
              <form action="" class="registration__form form form_compact">
                <fieldset class="form__section">
                  <div class="form__group">
                    <div class="form__select form__control">
                      <select>
                        <option selected>Заказчик</option>
                        <option>Исполнитель</option>
                      </select>
                    </div>
                  </div>
                  <div class="form__group">
                    <div class="form__select form__control">
                      <select>
                        <option selected>Физ. лицо</option>
                        <option>Юр. лицо</option>
                      </select>
                    </div>
                  </div>
                  <div class="form__group form__group_requered">
                    <div class="form__input">
                      <input type="text" class="form__control" name="firstname" requered placeholder="Имя">
                    </div>
                  </div>
                  <div class="form__group form__group_requered">
                    <div class="form__input">
                      <input type="text" class="form__control" name="lastname" requered placeholder="Фамилия">
                    </div>
                  </div>
                  <div class="form__group form__group_requered">
                    <div class="form__input">
                      <input type="text" class="form__control js-tel" id="phone" requered placeholder="Телефон">
                    </div>
                  </div>
                  <div class="form__group">
                    <label class="custom-control custom-checkbox">
                      <input type="checkbox" class="custom-control__input" name="agreement" value="1" checked>
                      <span class="custom-control__indicator"></span>
                      не отображать телефон на сайте
                    </label>
                  </div>
                  <div class="form__group form__group_requered">
                    <div class="form__input">
                      <input type="text" class="form__control" name="email" requered placeholder="E-mail">
                    </div>
                  </div>
                  <div class="form__group">
                    <div class="form__input">
                      <input type="text" class="form__control" name="site" placeholder="Сайт">
                    </div>
                  </div>
                </fieldset>

                <fieldset class="form__section">
                  <div class="form__group">
                    <div class="form__input">
                      <input type="password" class="form__control" name="password" placeholder="Введите пароль">
                    </div>
                  </div>
                  <div class="form__group">
                    <div class="form__input">
                      <input type="password" class="form__control" name="password_repeat" placeholder="Повторите пароль">
                    </div>
                  </div>
                </fieldset>

                <div class="form__submit">
                  <input type="submit" class="button button_outline_primary button_md" value="Зарегистрироваться">
                </div>
              </form>
            </div>
          </div>
        </div>
      <div>
{% endblock %}