{% extends '_layout.twig' %}

{% block content %}
      <div class="container container_sm">
        <div class="back">
          <a href="index.html" class="back__link"><i class="back__link-icon icon-caret-left"></i>Вернуться к списку</a>
        </div>
        <h1>Константин Константинопольский</h1>
        <div class="specialist">
          <div class="specialist__header">
            <div class="specialist__img-placeholder">
              <img src="assets/temp/users/1.jpg" alt="Константин Константинопольский" class="specialist__img">
            </div>
            <div class="specialist__content">
              <div class="specialist__location"><a href="">Москва</a></div>
              <div class="specialist__work">
                <a href="">Монтаж</a>, <a href="">Видео “под ключ”</a>, <a href="">Cъемка</a>, <a href="">Цветокоррекция</a>
              </div>
              <div class="specialist__info">
                <div class="specialist__info-item info">
                  <a href="#" class="specialist__info-toggle info__toggle button button_outline_default button_md" data-info-toggle>Контактная информация</a>
                  <div class="info__content" data-info-content>
                    <div class="info__header" data-info-toggle>Контактная информация</div>
                    <ul class="info__list">
                      <li class="info__list-item"><span class="text-primary">г. Москва</span></li>
                      <li class="info__list-item">e-mail: <a href="mailto:vidprod@ort.ru">vidprod@ort.ru</a></li>
                      <li class="info__list-item">telegram: <a href="">@supermaster</a></li>
                      <li class="info__list-item">vk: <a href="https://vk.com/reelmoviemaker">vk.com/reelmoviemaker</a></li>
                    </ul>
                  </div>
                </div>
                <div class="specialist__info-item info">
                  <a href="#" class="specialist__info-toggle info__toggle button button_outline_default button_md" data-info-toggle>Рейтинг <b>120</b></a>
                  <div class="info__content" data-info-content>
                    <div class="info__header" data-info-toggle>Рейтинг <b>120</b></div>
                    <ul class="rating-list">
                      <li class="rating-list__item">
                        <div class="rating-list__text">
                          <a href="">Подрядчик агентства “Хохлов Сабатовский”</a>
                        </div>
                        <div class="rating-list__number">50</div>
                      </li>
                      <li class="rating-list__item">
                        <div class="rating-list__text">
                          <a href="">Кинодел 2 уровня</a>
                        </div>
                        <div class="rating-list__number">10</div>
                      </li>
                      <li class="rating-list__item">
                        <div class="rating-list__text">
                          <a href="">Разместил 6 работ</a>
                        </div>
                        <div class="rating-list__number">20</div>
                      </li>
                    </ul>
                  </div>
                </div>
                <a href="#" class="specialist__info-link button button_link button_md">+  В избранное</a>
              </div>
              <div class="specialist__text">Пишу статьи для блогов и СМИ, серии писем для рассылок, делаю презентации и готовлю тексты для лендингов. Подхожу, если вам нужен яркий, не занудный слог. Не берусь за юридические, бухгалтерские и крипто темы.</div>
            </div>
          </div>

          <div class="specialist__work work">
            <h2 class="work__title">Работы</h2>
            {% include 'partials/_work-list.twig' with {'works':works} %}
          </div>
        </div>
      </div>
    </div>
{% endblock %}