{% extends '_layout.twig' %}

{% block content %}
      <div class="container container_sm">
        <h1 class="text-uppercase">ПОДДЕРЖКА</h1>
      </div>
      <div class="support">
        <div class="container container_sm">
          <div class="support__content row">
            <div class="col-xs-12 support__col">
              <div class="support__description">
                <p>Если у вас возникли вопросы или проблемы при работе с нашим ресурсом, свяжитесь с нами любым удобным для вас способом.</p>
                <p>
                  По телефону <br>
                  <b>8 (800) 500-31-90</b>
                </p>
                <p>
                  По почте <br>
                  <a href="mailto:info@tvbirzha.ru" class="link-underlined">info@tvbirzha.ru</a>
                </p>
                <p>Или через форму обратной связи</p>
              </div>
              <form action="" class="support__form form form_compact">
                <div class="form__group">
                  <div class="form__input">
                    <input type="text" class="form__control" name="name" placeholder="Представьтесь">
                  </div>
                </div>
                <div class="form__group">
                  <div class="form__input">
                    <input type="text" class="form__control" name="email" placeholder="E-mail">
                  </div>
                </div>
                <div class="form__group">
                  <div class="form__input">
                    <textarea rows="4" class="form__control" name="message" placeholder="Опишите вашу проблему"></textarea>
                  </div>
                </div>

                <div class="form__submit">
                  <input type="submit" class="button button_outline_primary button_md" value="Помочь">
                </div>
              </form>
            </div>
          </div>
        </div>
      <div>
{% endblock %}