{% extends '_layout.twig' %}

{% block content %}
      <div class="container container_sm">
        <h1 class="text-uppercase">МОИ ТЕНДЕРЫ</h1>
      </div>
      <div class="tenders">
        <div class="container container_sm">
          <div class="tenders__content row">
            <div class="col-xs-12 tenders__col">
              <p>С помощью тендерной площадки KHS вы найдете подходящего испольниктеля для проектов, связанных с видеопродакшеном. Заполните бриф, и мы оповестим о нем десять лучших специалистов, которые готовы решить вашу задачу. Вам останется только выбрать подходящую специальность и город.</p>
              <form action="" class="tenders__form form">
                <div class="form__group">
                  <label class="form__label" for="location">Города списка</label>
                  <div class="form__select form__control">
                    <select id="location">
                      <option selected>Все города</option>
                      <option>Москва</option>
                      <option>Санкт-Петербург</option>
                      <option>Новосибирск</option>
                      <option>Владивосток</option>
                    </select>
                  </div>
                </div>
                <div class="form__group">
                  <label class="form__label" for="work">Тип работ</label>
                  <div class="form__select form__control">
                    <select id="work">
                      <option>Все виды работ</option>
                      <option>Монтаж</option>
                      <option selected>Видео “под ключ”</option>
                      <option>Cъемка</option>
                      <option>Цветокоррекция</option>
                    </select>
                  </div>
                </div>
                <div class="form__group">
                  <label class="form__label" for="description">Описание проекта</label>
                  <textarea class="form__control" rows="4" id="description"></textarea>
                </div>
                <div class="form__group">
                  <label class="form__label" for="price_from">Бюджет</label>
                  <div class="form__group_inline">
                    <div class="form__controls">
                      <label class="form__label" for="price_from">От</label>
                      <input type="text" class="form__control form__control_sm" id="price_from">
                    </div>
                    <div class="form__controls">
                      <label class="form__label" for="price_to">До</label>
                      <input type="text" class="form__control form__control_sm" id="price_to">
                    </div>
                  </div>
                </div>
                <div class="form__group">
                  <label class="form__label" for="deadline">Дата сдачи проекта</label>
                  <input type="text" class="form__control" id="deadline">
                </div>
                <div class="form__submit">
                  <input type="submit" class="button button_outline_primary button_md" value="Разместить">
                </div>
              </form>
            </div>
          </div>
        </div>
      <div>
{% endblock %}