{% extends '_layout.twig' %}

{% block content %}
      <div class="container container_sm">
        <div class="back">
          <a href="personal.html" class="back__link"><i class="back__link-icon icon-caret-left"></i>Вернуться в личный кабинет</a>
        </div>
        <h1 class="text-uppercase">МОИ ТЕНДЕРЫ</h1>
      </div>
      <div class="tenders">
        <div class="container container_sm">
          {% include 'partials/_tenders-list.twig' with {'tenders':tenders} %}
        </div>
      <div>
{% endblock %}