{% extends '_layout.twig' %}

{% block content %}
      <div class="container container_sm">
        <h1 class="text-uppercase">МОИ ТЕНДЕРЫ</h1>
      </div>
      <div class="tenders">
        <div class="container container_sm">
          <div class="tenders__content row">
            <div class="col-xs-12 tenders__col">
              <p>С помощью тендерной площадки KHS вы найдете подходящего испольниктеля для проектов, связанных с видеопродакшеном. Заполните бриф, и мы оповестим о нем десять лучших специалистов, которые готовы решить вашу задачу. Вам останется только выбрать подходящую специальность и город.</p>
              <div class="tenders__alert alert alert_error">
                <div class="alert__content">Для размещения тендера сперва нужно зарегистрироваться или залогиниться</div>
              </div>
              <div class="tender__action action">
                <a href="registration.html" class="action__button button button_outline_primary button_md">Зарегистрироваться</a>
                <a href="login.html" class="action__button button button_primary button_md">Войти</a>
              </div>
            </div>
          </div>
        </div>
      <div>
{% endblock %}