{% extends '_layout.twig' %}

{% block content %}
    <div class="container container_sm">
        <article class="article">
            <h1>H1 Длинный заголовок типовой текстовой страницы в две строки</h1>
            <p>
                <em>Видеореклама, подобная той, что часто можно встретить на ТВ или в мировой сети Интернет, представляет собой короткое и увлекательное видео, ориентированное на Ваш бренд. Этот вид коммуникации формирует отношение к бренду и помогает создать нужные ассоциации — связать эмоции пользователей с компанией или продуктом.</em>
            </p>
            <hr>
            <p>Рекламный видеоролик наиболее полезен в тех случаях, когда предполагаемая целевая аудитория плохо осведомлена о существовании Вашего продукта, или теряет к нему интерес. Рекламный видеоролик повышает уровень узнаваемости Вашего продукта на весь период ротации и напрямую влияет на уровень продаж.</p>
            <p>Внедряя видеорекламу в маркетинговую стратегию своего бренда, Вы получаете возможность показать зрителю любые смыслы Вашего предложения и вызвать в нём самое главное — эмоцию.</p>

            <h2>H2 В каких ситуациях Вам нужен рекламный видеоролик?</h2>
            <p>Рекламный видеоролик
                <a href="">наиболее полезен в тех случаях</a>, когда предполагаемая целевая аудитория плохо осведомлена о существовании Вашего продукта, или теряет к нему интерес. Рекламный видеоролик повышает уровень узнаваемости Вашего продукта на весь период ротации и напрямую влияет на уровень продаж.</p>

            <img src="assets/temp/article/art.jpg" alt="" class="img-right">

            <h3>H3 Внедряя видеорекламу</h3>
            <ol>
                <li>Внедряя видеорекламу в маркетинговую стратегию своего бренда, Вы получаете возможность показать зрителю любые смыслы Вашего предложения и вызвать в нём самое главное — эмоцию.</li>
                <li>Вы получаете возможность показать зрителю любые смыслы Вашего предложения и вызвать в нём самое главное — эмоцию. Рекламный видеоролик повышает уровень узнаваемости.</li>
            </ol>
            <p>
              <label class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control__input" name="agreement" value="1">
                <span class="custom-control__indicator"></span>
                Галочка согласия с приведенным текстом
              </label>
            </p>
            <hr>
            <p>
                <b>Рекламный видеоролик наиболее полезен в тех случаях, когда предполагаемая целевая аудитория плохо осведомлена о существовании Вашего продукта, или теряет к нему интерес. Рекламный видеоролик повышает уровень узнаваемости Вашего продукта на весь период ротации.</b>
            </p>
            <hr>

            <div class="video">
                <img src="assets/temp/article/video.jpg" alt="" class="video__img">
                <a href="" class="video__button icon-play" data-video="data-video"></a>
            </div>

            <h2>H2 В каких ситуациях Вам нужен рекламный видеоролик?</h2>
            <ul>
              <li>Рекламный видеоролик <a href="">наиболее полезен в тех случаях</a>, когда предполагаемая целевая аудитория плохо осведомлена о существовании Вашего продукта, или теряет к нему интерес.</li>
              <li>Рекламный видеоролик повышает уровень узнаваемости Вашего продукта на весь период ротации и напрямую влияет на уровень продаж.</li>
            </ul>

            <blockquote>
              Рекламный видеоролик наиболее полезен в тех случаях, когда предполагаемая целевая аудитория плохо осведомлена о существовании Вашего продукта, или теряет к нему интерес. Рекламный видеоролик повышает уровень узнаваемости Вашего продукта на весь период ротации.
            </blockquote>

            <div class="files">
              {% include 'partials/_files-list.twig' with {'files' : files} %}
            </div>
        </article>
    </div>
{% endblock %}